@model SOGIP_v2.Models.Rutina

@{

    ViewBag.Title = "Registro de Rutinas";

}

@Html.ActionLink("Lista Rutinas", "Index", null, new { @class = "btn btn-default" })

@using (Html.BeginForm("Create", "Rutinas", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()

    <body>
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="container">
                <div class="form-group">
                    <table>
                        <tr>
                            <td><input type="radio" name="Tipo_Cta" id="funcionario" />Funcionario</td>
                            <td><input type="radio" name="Tipo_Cta" id="atleta" />Atletas</td>
                        </tr>
                    </table>
                    <br>
                    <form id="myForm">
                        <label for="usuarioLabel"><b>Usuarios</b></label>
                        <select class="form-control" id="usuariosDropdown" name="usuarioDropdown"></select>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.Label("Fecha de la Rutina", new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                            @Html.EditorFor(model => model.RutinaFecha, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.RutinaFecha, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.Label("Observaciones", new { @class = "control-label" })
                        <div class="input-group">
                            @Html.EditorFor(model => model.RutinaObservaciones, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RutinaObservaciones, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <br>
                <div class= "col-md-10">
                    <input type="submit" value="Crear Rutina" class="btn btn-default" />
                </div>
            </div>
        </div>
    </body>
}


@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
    <script>
                $(document).ready(function () {

                    $('#funcionario').change(function () {
                        cargaF();
                    })

                    $('#atleta').change(function () {
                        cargaA();
                    })

                });


                function cargaF() {
                    $.getJSON("/ExpedientesFisicos/getUsuariosF", null, function (data) {
                        $("#usuariosDropdown").empty() // Remove all <option> child tags.
                        $.each(data, function (index, item) { // Iterates through a collection
                            $("#usuariosDropdown").append(
                                $('<option></option>')
                                    .text(item.cedNomCompleto)
                                    .val(item.idAtleta)
                            );
                        });
                    });
                }

                function cargaA() {
                    $.getJSON("/ExpedientesFisicos/getUsuariosA", null, function (data) {
                        $("#usuariosDropdown").empty() // Remove all <option> child tags.
                        $.each(data, function (index, item) { // Iterates through a collection
                            $("#usuariosDropdown").append(
                                $('<option></option>')
                                    .text(item.cedNomCompleto)
                                    .val(item.idAtleta)
                            );
                        });
                    });
                }


    </script>
}
