@model SOGIP_v2.Models.Rutina

@{
    ViewBag.Title = "Eliminar Rutina";


    ViewBag.Control = "Rutinas";
    ViewBag.ControlIcono = "glyphicon-user";

    ViewBag.Controller = "Rutinas";


}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RutinaFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutinaFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutinaObservaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutinaObservaciones)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" />
        </div>
    }
</div>
