@model SOGIP_v2.Models.Rutina

@{
    ViewBag.Title = "Eliminar";
}

<div class="col-md-10">
    <a href="~/Home/Index"><input type="button" id="btn_regresar" class="btn btn-success" value="&laquo; Regresar"></a>
</div>
<br />
<br />


<h3>¿Seguro que desea Eliminar?</h3>
<div>
    <h4>Rutina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RutinaFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutinaFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutinaObservaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutinaObservaciones)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Lista Rutinas", "Index")
        </div>
    }
</div>
