@model SOGIP_v2.Models.Conjunto_Ejercicio

@{
    ViewBag.Title = "Eliminar";
}

@Html.ActionLink("Rutina", "Ejercicio", new { idRutina = Model.ConjuntoEjercicioRutina.RutinaId })

<div>

    <br />
    <div class="col-md-12">

        <h2 class="col-md-3" style="color: black">
            <a href="/Rutinas/Index/" class="btn btn-success" type="button">
                <i class="glyphicon glyphicon-chevron-left"></i>Volver al Inicio de Rutinas&nbsp;
            </a>
        </h2>
        <h2 class="col-md-1" style="color: black">
            |
        </h2>
        <h2 class="col-md-5" style="color: black">
            Registros > Rutinas > @ViewBag.Title
        </h2>
        <h2 class="col-md-1" style="color: black">
            |
        </h2>
    </div>

    <br />
    <br />
    <br />


    <h4>Usuario</h4>
    @{
        var viewDataNombre = ViewData["nombre"];
    }

    <h4> @viewDataNombre </h4>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreEjercicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEjercicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serie1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repeticion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repeticion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serie2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repeticion2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repeticion2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serie3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repeticion3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repeticion3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso3)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" />
        </div>
    }
</div>
