@model SOGIP_v2.Models.Rutina

@{
    ViewBag.Title = "Eliminar Rutina";
}

<br />
<br />
<br />

<div class="col-md-12">

    <h2 class="col-md-3" style="color: black">
        <a href="/Rutinas/Index/" class="btn btn-success" type="button">
            <i class="glyphicon glyphicon-chevron-left"></i>Volver al Inicio de Rutinas&nbsp;
        </a>
    </h2>
    <h2 class="col-md-1" style="color: black">
        |
    </h2>
    <h2 class="col-md-5" style="color: black">
        Registros > Rutinas > @ViewBag.Title
    </h2>
    <h2 class="col-md-1" style="color: black">
        |
    </h2>
</div>

<br />
<br />
<br />
<br />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RutinaFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutinaFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutinaObservaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutinaObservaciones)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" />
        </div>
    }
</div>
