@model SOGIP_v2.Models.Rutina

@{
    ViewBag.Title = "Details";
    @Styles.Render("~/Content/Detalle_Rutina.css")
}

<html>
<body>
<h2>Detalles</h2>

<div>
    <h4>Rutina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RutinaFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutinaFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutinaObservaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutinaObservaciones)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.RutinaId }) |
    @Html.ActionLink("Lista Rutinas", "Index")
</p>

   </body>
</html>
