@model SOGIP_v2.Models.Rutina

@{
    ViewBag.Title = "Editar Rutina";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <br />
    <br />

    <div class="col-md-12">

        <h2 class="col-md-3" style="color: black">
            <a href="/Rutinas/Index/" class="btn btn-success" type="button">
                <i class="glyphicon glyphicon-chevron-left"></i>Volver al Inicio de Rutinas&nbsp;
            </a>
        </h2>
        <h2 class="col-md-1" style="color: black">
            |
        </h2>
        <h2 class="col-md-5" style="color: black">
            Registros > Rutinas > @ViewBag.Title
        </h2>
        <h2 class="col-md-1" style="color: black">
            |
        </h2>
    </div>

    <br />
    <br />
    <br />

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RutinaId)

        <div class="form-group">
            @Html.LabelFor(model => model.RutinaFecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.RutinaFecha, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.RutinaFecha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RutinaObservaciones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RutinaObservaciones, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RutinaObservaciones, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
