@using System.Text.RegularExpressions;
@model SOGIP_v2.Models.Conjunto_Ejercicio

@{
    ViewBag.Title = "Ejercicios";

    var viewDataRutina = ViewData["rutina"];
    var viewDataNombre = ViewData["nombre"];

    ViewBag.Referencia_Controlador_1 = "Rutinas";
    ViewBag.Icono_Controlador_1 = "glyphicon-apple";
    ViewBag.Nombre_Controlador_1 = "Rutinas";

    ViewBag.Referencia_Metodo_1 = "Ejercicio?idRutina=" + viewDataRutina;
    ViewBag.Icono_Metodo_1 = "glyphicon-list";
    ViewBag.Nombre_Metodo_1 = "Ejercicios";

    @Styles.Render("~/Content/Rutina.css")
    @Styles.Render("~/Content/manual.css")

}
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/select.dataTables.min.css">

<div class="container">
    <div class="well">
        <h4>Usuario</h4>
        <h4> @viewDataNombre </h4>
        <div class="table-responsive">
            <table id="rutina" class="table table-bordered table-hover">
                <thead>
                    <TR>
                        <TH COLSPAN=1>Ejercicio</TH>
                        <TH COLSPAN=3>Semana 1-2</TH>
                        <TH COLSPAN=3>Semana 3-4</TH>
                        <TH COLSPAN=3>Semana 5-6</TH>
                        <TH COLSPAN=1>Día</TH>
                        <TH COLSPAN=1>Editar</TH>
                    </TR>
                    <TR>
                        <TH></TH>
                        <TH>S</TH>
                        <TH>R</TH>
                        <TH>P</TH>
                        <TH>S</TH>
                        <TH>R</TH>
                        <TH>P</TH>
                        <TH>S</TH>
                        <TH>R</TH>
                        <TH>P</TH>
                        <TH></TH>
                        <TH></TH>
                    </TR>
                </thead>
                <tbody>
                    @if (ViewBag.Conjunto_Ejercicios1 != null)
                    {
                        var dia = "";

                        foreach (var item1 in ViewBag.Conjunto_Ejercicios1)
                        {
                            if (dia != item1.DiaEjercicio)
                            {
                                dia = item1.DiaEjercicio;
                                <tr><td>@item1.DiaEjercicio</td></tr>
                            }
                            <tr style="background-color: @item1.ColorId.Codigo">
                                    <td>@item1.EjercicioId.Nombre</td>
                                    <td>@item1.Serie1</td>
                                    <td>@item1.Repeticion1</td>
                                    <td>@item1.Peso1</td>
                                    <td>@item1.Serie2</td>
                                    <td>@item1.Repeticion2</td>
                                    <td>@item1.Peso2</td>
                                    <td>@item1.Serie3</td>
                                    <td>@item1.Repeticion3</td>
                                    <td>@item1.Peso3</td>
                                    <td>@item1.DiaEjercicio</td>
                                    <td>
                                        <a class='btn btn-danger' style='padding: 2px 6px; margin: 2px;' id='boton_" + @item1.Conjunto_EjercicioId + "' onclick='EliminarEjer(@item1.Conjunto_EjercicioId)'>
                                            <text class='hidden-xs'>Eliminar </text>
                                            <span class='glyphicon glyphicon-minus-sign'></span>
                                        </a>
                                        <a class='btn btn-warning' style='padding: 2px 6px; margin: 2px;' id='boton_" + @item1.Conjunto_EjercicioId + "' onclick='EditarEjer(@item1.Conjunto_EjercicioId)' data-toggle='modal' data-target='#myModal'>
                                            <text class='hidden-xs'>Editar </text>
                                            <span class='glyphicon glyphicon-pencil'></span>
                                        </a>
                                    </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table id="tabla" class="table table-bordered table-responsive table-hover">
                <TR align="center" class="active">
                    <TH COLSPAN=1>Ejercicio</TH>
                    <TH COLSPAN=1></TH>
                    <TH COLSPAN=3>Semana 1-2</TH>
                    <TH COLSPAN=3>Semana 3-4</TH>
                    <TH COLSPAN=3>Semana 5-6</TH>
                    <TH COLSPAN=1>Color</TH>
                    <TH COLSPAN=1>Día</TH>
                    <TH COLSPAN=1>Accion</TH>
                </TR>
                <TR>
                    <TH></TH>
                    <TH></TH>
                    <TH>S</TH>
                    <TH>R</TH>
                    <TH>P</TH>
                    <TH>S</TH>
                    <TH>R</TH>
                    <TH>P</TH>
                    <TH>S</TH>
                    <TH>R</TH>
                    <TH>P</TH>
                    <TH></TH>
                    <TH></TH>
                    <TH></TH>
                </TR>
            </table>
            <div class="btn-der">
                <br>
                <button id="adicional" name="adicional" type="button" class="btn btn-warning"> Más <span class="glyphicon glyphicon-plus-sign"></span> </button>
                <button id="submit" name="submit" type="submit" class="btn btn-default"> Crear <span class="glyphicon glyphicon-check"></span> </button>
            </div>
        </div>

        @*Modal para Ejercicio*@
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h3 class="modal-title">Información de Ejercicio</h3>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" value="original" id="hidden">
                        <form id="myForm">

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Ejercicio: </label>
                                    <a class='btn  btn-success pull-right' style='padding: 2px 6px; margin: 2px;' id="btnNuevo">
                                       
                                        <span style='color: white;' class='glyphicon glyphicon-plus-sign'></span>
                                    </a>
                                    <input type="text" class="form-control" id="ejer" readonly />
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Día: </label>
                                    <br>
                                    @Html.DropDownList("Dia", new SelectListItem[]
                      { new SelectListItem() { Text = "Día 1", Value = "Dia1" },
                      new SelectListItem() { Text = "Día 2", Value = "Dia2" },
                      new SelectListItem() { Text = "Día 3", Value = "Dia3" },
                      new SelectListItem() { Text = "Día 4", Value = "Dia4" },
                      },
                      new { @onchange="CallChangefunc(this.value)", @class="form-control" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Color: </label>
                                    <br>

                                    <select class="form-control" id="Color" name="Color"></select>

                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Semana 1-2: </label>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Serie: </label>
                                    <input type="text" class="form-control" id="s1" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Repeticion: </label>
                                    <input type="text" class="form-control" id="r1" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Peso: </label>
                                    <input type="text" class="form-control" id="p1" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Semana 3-4: </label>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Serie: </label>
                                    <input type="text" class="form-control" id="s2" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Repeticion: </label>
                                    <input type="text" class="form-control" id="r2" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Peso: </label>
                                    <input type="text" class="form-control" id="p2" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Semana 5-6: </label>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Serie: </label>
                                    <input type="text" class="form-control" id="s3" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Repeticion: </label>
                                    <input type="text" class="form-control" id="r3" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Peso: </label>
                                    <input type="text" class="form-control" id="p3" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-body">
                        <div class="modal-footer">
                            <br />
                            <button type="button" id="btnEdit" class="btn btn-success" data-dismiss="modal">Guardar Cambios</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="nueva" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="cerrar">&times;</button>
                        <h4 class="modal-title">Agregar Ejercicio</h4>
                        <br>
                        <div class="modal-body">
                            @*Tabla de Tipos*@
                            <div class="row" id="infouser">
                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Seleccione Ejercicio." readonly />
                                </div>
                                <div class="form-group col-lg-3 col-md-6 col-sm-6">
                                    <button id="botón" type="button" class="btn btn-warning btn-block">
                                        <text id="texto">Ejercicio</text>
                                        <span id="icono" class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                            <hr />
                            <div class="table-responsive" id="Tabla_Prin" hidden>
                                <table id="tablePrin" class="display" style="width:100%"></table>
                            </div>
                            <div class="modal-footer">
                                <br />
                                <button type="button" id="btnSave" class="btn btn-success">Guardar Cambios</button>
                                <button type="button" class="btn btn-danger" id="cerrar1">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/dataTables.select.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
     
        function EliminarEjer(id) {
            var tr = $('#boton_' + id).closest('tr');
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/Rutinas/DeleteEjercicio',
                data: { 'ejercicioId': id },
                success: function (data) {
                    if (data.status) {
                        location.reload();
                        //var table = $('#rutina').DataTable().row(tr).remove().draw();
                    }
                },
                error: function () {
                    alert("Fallo");
                }
            })
        }
        function EditarEjer(id) {
            var ejer = null;
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/Rutinas/ObtenerEjer',
                data: { 'ejercicioId': id },
                success: function (data) {
                    $('#ejer').val(data.EjercicioId.Nombre);
                    $('#s1').val(data.Serie1);
                    $('#r1').val(data.Repeticion1);
                    $('#p1').val(data.Peso1);
                    $('#s2').val(data.Serie2);
                    $('#r2').val(data.Repeticion2);
                    $('#p2').val(data.Peso2);
                    $('#s3').val(data.Serie3);
                    $('#r3').val(data.Repeticion3);
                    $('#p3').val(data.Peso3);
                    $('#Dia').val(data.DiaEjercicio);
                    $('#Color').val(data.ColorId.Nombre);
                },
                error: function () {
                    alert("Fallo");
                }
            })
            $('#btnEdit').click(function () {
                 data = {
                    Conjunto_EjercicioId: id,
                    EjercicioId: {'Nombre': $('#ejer').val()},
                    Serie1: $('#s1').val(),
                    Repeticion1: $('#r1').val(),
                    Peso1: $('#p1').val(),
                    Serie2: $('#s2').val(),
                    Repeticion2: $('#r2').val(),
                    Peso2: $('#p2').val(),
                    Serie3: $('#s3').val(),
                    Repeticion3: $('#r3').val(),
                    Peso3: $('#p3').val(),
                    DiaEjercicio: $('#Dia').val(),
                    ColorId: { 'Nombre': $('#Color').val() }
                }

                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: '/Rutinas/EditEjer',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            location.reload();
                        }
                    },
                    error: function () {
                        alert("Fallo");
                    }
                })
            })
        }
        function tablaEjercicios() {
            $('#tablePrin').dataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ resultados por página.",
                    "zeroRecords": "No se han encontrado registros.",
                    "info": "Mostrando página _PAGE_ de _PAGES_.",
                    "infoEmpty": "No hay datos para mostrar",
                    "infoFiltered": "(filtrado de _MAX_ datos obtenidos).",
                    "search": "Filtrar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "ajax": {
                    "url": "/Maquina/GetEjerMaquina",
                    "type": "GET",
                    "dataSrc": ""
                },
                columns: [
                    { data: "Accion" },
                    { data: "Nombre" },
                    {
                        data: "Id",
                        visible: false
                    }
                ],
                'columnDefs': [
                    {
                        orderable: false,
                        className: 'select-checkbox',
                        targets: [0]
                    }
                ],
                'select': {
                    'style': 'os',
                    'selector': 'td:first-child'

                }
            });
        }
     
       //Insert new rows into table
        $(document).ready(function () {
            var input10 = null;
            var colores = [];
            var colors = [];
            obtenerColores();

            function obtenerColores() {
                var select = document.getElementById("Color");
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: '/Rutinas/ObtenerColores',
                    success: function (data) {
                        $.each(data, function (i, v) {
                            select.options[i] = new Option(v.Nombre, v.Identificador);
                            colores.push([v.Nombre]);
                            colors.push([v.Identificador]); 
                        })

                    },
                    error: function () {
                        alert("Fallo");
                    }
                })

            }


            $("#adicional").on('click', function () {
                var tableRef = document.getElementById('tabla').getElementsByTagName('tbody')[0];

                // Insert a row in the table at the last row
                var newRow = tableRef.insertRow(tableRef.rows.length);

                // Insert a cell in the row at index 0
                var newCell = newRow.insertCell(0);
                var newCell13 = newRow.insertCell(1);
                var newCell1 = newRow.insertCell(2);
                var newCell2 = newRow.insertCell(3);
                var newCell3 = newRow.insertCell(4);
                var newCell4 = newRow.insertCell(5);
                var newCell5 = newRow.insertCell(6);
                var newCell6 = newRow.insertCell(7);
                var newCell7 = newRow.insertCell(8);
                var newCell8 = newRow.insertCell(9);
                var newCell9 = newRow.insertCell(10);
                var newCell10 = newRow.insertCell(11);
                var newCell11 = newRow.insertCell(12);
                var newCell12 = newRow.insertCell(13);



                var input1 = document.createElement("input");
                input1.type = "text"; input1.min = 0; input1.pattern = "[a-z]"; input1.title = "Palabras únicamente."

                var input2 = document.createElement("input");
                input2.type = "text"; input2.min = 0; input2.pattern = "[a-z]"; input2.title = "Palabras únicamente."

                var input3 = document.createElement("input");
                input3.type = "text"; input3.min = 0; input3.pattern = "[a-z]"; input3.title = "Palabras únicamente."

                var input4 = document.createElement("input");
                input4.type = "text"; input4.min = 0; input4.pattern = "[a-z]"; input4.title = "Palabras únicamente."

                var input5 = document.createElement("input");
                input5.type = "text"; input5.min = 0; input5.pattern = "[a-z]"; input5.title = "Palabras únicamente."

                var input6 = document.createElement("input");
                input6.type = "text"; input6.min = 0; input6.pattern = "[a-z]"; input6.title = "Palabras únicamente."

                var input7 = document.createElement("input");
                input7.type = "text"; input7.min = 0; input7.pattern = "[a-z]"; input7.title = "Palabras únicamente."

                var input8 = document.createElement("input");
                input8.type = "text"; input8.min = 0; input8.pattern = "[a-z]"; input8.title = "Palabras únicamente."

                var input9 = document.createElement("input");
                input9.type = "text"; input9.min = 0; input9.pattern = "[a-z]"; input9.title = "Palabras únicamente."

                input10 = document.createElement("input");
                input10.type = "text"; input10.readOnly = true;



               
                var c = document.createElement('select');
                c.type = 'select';

                for (var i = 0; i < colores.length; i++) {
                    var option = document.createElement('option');
                    option.value = colores[i];
                    option.text = colores[i];
                    c.add(option);
                }
                var dias = ["Dia1", "Dia2", "Dia3", "Dia4"];
                var d = document.createElement('select');
                d.type = 'select';
                for (var i = 0; i < dias.length; i++) {
                    var option = document.createElement('option');
                    option.value = dias[i];
                    option.text = dias[i];
                    d.add(option);
                }

                //DropDownList1.type = "DropDownList"; DropDownList1.items.insert(Dia, " - Select From List - ")


                var checkBox = document.createElement('input');
                checkBox.type = 'button';
                checkBox.className = 'btn btn-danger';
                checkBox.value = '-';
                checkBox.name = 'checkbox';

                var checkBox2 = document.createElement('input');
                checkBox2.type = 'button';
                checkBox2.className = 'btn btn-success';
                checkBox2.value = '+';
                checkBox2.name = 'checkbox2';



                newCell.appendChild(input10);
                newCell13.appendChild(checkBox2);
                newCell1.appendChild(input1);
                newCell2.appendChild(input2);
                newCell3.appendChild(input3);
                newCell4.appendChild(input4);
                newCell5.appendChild(input5);
                newCell6.appendChild(input6);
                newCell7.appendChild(input7);
                newCell8.appendChild(input8);
                newCell9.appendChild(input9);
                newCell10.appendChild(c);
                newCell11.appendChild(d);
                newCell12.appendChild(checkBox);

                document.getElementsByClassName("input").required;


            });


           // Delete rows in tha table
            $('#tabla tbody').on('click', '.btn', function () {
                tablaEjercicios();
                $('#nueva').modal('show');
                $('#btnSave').click(function () {
                    var objetivo = $('#usuario').val();
                  input10.value = objetivo;
                   $('#nueva').modal('hide');
                })
            });




            //method to send array to controller
            $('#submit').click(function () {

                var table = document.getElementById("tabla");
                var tableArr = [];
                var n = null;
                for (var i = 2; i < table.rows.length; i++) {
                    
                    tableArr.push({
                        EjercicioId: { 'Nombre': table.rows[i].cells[0].children[0].value },
                        Serie1: table.rows[i].cells[2].children[0].value,
                        Repeticion1: table.rows[i].cells[3].children[0].value,
                        Peso1: table.rows[i].cells[4].children[0].value,
                        Serie2: table.rows[i].cells[5].children[0].value,
                        Repeticion2: table.rows[i].cells[6].children[0].value,
                        Peso2: table.rows[i].cells[7].children[0].value,
                        Serie3: table.rows[i].cells[8].children[0].value,
                        Repeticion3: table.rows[i].cells[9].children[0].value,
                        Peso3: table.rows[i].cells[10].children[0].value,
                        ColorId: { 'Nombre': table.rows[i].cells[11].children[0].value },
                        diaEjercicio: table.rows[i].cells[12].children[0].value
                    });
                }

                var datos = {
                    'data': @viewDataRutina,
                    'ejercicios': tableArr
                }
                @{
                    string expresion, expresionNumerica;
                    expresionNumerica = "^[0-9,+,=,/]+$";
                    expresion = @"(^[a-zA-Z'.\s])";
                    System.Text.RegularExpressions.Regex automata = new Regex(expresion);
                    System.Text.RegularExpressions.Regex automataNumerico = new Regex(expresionNumerica);
                }
                //$(document).ready(function () {
                //for (var i = 0; i < tableArr.length; i++){
                //    if (tableArr[i].NombreEjercicio == null || !automata.IsMatch(tableArr[i].NombreEjercicio) ||
                //        tableArr[i].Serie1 == null || !automataNumerico.IsMatch(tableArr[i].Serie1) ||
                //        tableArr[i].Repeticion1 == null || !automataNumerico.IsMatch(tableArr[i].Repeticion1) ||
                //        tableArr[i].Peso1 == null || !automataNumerico.IsMatch(tableArr[i].Peso1) ||
                //        tableArr[i].Serie2 == null || !automataNumerico.IsMatch(tableArr[i].Serie2) ||
                //        tableArr[i].Repeticion2 == null || !automataNumerico.IsMatch(tableArr[i].Repeticion2) ||
                //        tableArr[i].Peso2 == null || !automataNumerico.IsMatch(tableArr[i].Peso2) ||
                //        tableArr[i].Serie3 == null || !automataNumerico.IsMatch(tableArr[i].Serie3) ||
                //        tableArr[i].Repeticion3 == null || !automataNumerico.IsMatch(tableArr[i].Repeticion3) ||
                //        tableArr[i].Peso3 == null || !automataNumerico.IsMatch(tableArr[i].Peso3) ||
                //    tableArr[i].ColorEjercicio == null || tableArr[i].diaEjercicio == null) {
                //            alert('Hubo un error');
                //        }
                //}
                //});

                        $.ajax({
                            url: '/Rutinas/Ejercicio',
                            dataType: 'JSON',
                            type: 'POST',
                            data: JSON.stringify(datos), //agregar el campo para el id de la rutina
                            contentType: 'application/json; charset=utf-8',
                            success: function (result) {
                                alert('Ejercicios Registrados');
                                location.reload();

                            },
                            error: function (request) {
                                alert('Hubo un error');
                            }
                });
             

            });
            $('#tablePrin').on('click', 'td.select-checkbox', function () {
                var td = $(this);
                var tr = td.closest('tr');
                $('#usuario').val(tr.find('td:eq(1)').text());
                idEjer = tr.find('td:eq(1)').text();
                $('#Tabla_Prin').hide();
            });

            $('#botón').click(function () {
                $('#Tabla_Prin').show();

            });
            $('#btnNuevo').click(function () {
                tablaEjercicios();
                $('#nueva').modal('show');
                $('#btnSave').click(function () {
                      var objetivo = $('#usuario').val();
                    $('#ejer').val(objetivo);
                    $('#nueva').modal('hide');
                })
            })
       });
    </script>
}