@using System.Text.RegularExpressions;
@model SOGIP_v2.Models.Conjunto_Ejercicio

@{
    ViewBag.Title = "Ejercicios";
    @Styles.Render("~/Content/Rutina.css")

    @Styles.Render("~/Content/manual.css")

    var viewDataRutina = ViewData["rutina"];
    var viewDataNombre = ViewData["nombre"];
}

    


<html>
<body>
    <div class="container">
        <br />
        <br />
@Html.ActionLink("Lista Rutinas", "Index", null, new { @class = "btn btn-default" })

<h2 style="color:white">Rutina</h2>
<hr />
<h4 style="color:white">Usuario</h4>
@Html.DisplayFor(model => model.ConjuntoEjercicioRutina.Usuario.Cedula)

<h4 style="color:white"> @viewDataNombre </h4>
<hr />
<div class="col-sm-12">
    <table id="rutina" class="table table-bordered table-responsive table-hover">
        <thead>
            <TR>
                <TH COLSPAN=1>Ejercicio</TH>
                <TH COLSPAN=3>Semana 1-2</TH>
                <TH COLSPAN=3>Semana 3-4</TH>
                <TH COLSPAN=3>Semana 5-6</TH>
                <TH COLSPAN=1>Día</TH>
                <TH COLSPAN=1>Editar</TH>
            </TR>
            <TR>
                <TH></TH>
                <TH>S</TH>
                <TH>R</TH>
                <TH>P</TH>
                <TH>S</TH>
                <TH>R</TH>
                <TH>P</TH>
                <TH>S</TH>
                <TH>R</TH>
                <TH>P</TH>
                <TH></TH>
                <TH></TH>
            </TR>
        </thead>
        <tbody>
            @if (ViewBag.Conjunto_Ejercicios1 != null)
            {
                var dia = true;

                foreach (var item1 in ViewBag.Conjunto_Ejercicios1)
                {
                    if (dia)
                    {
                        <tr><td>Día 1</td></tr>
                        dia = false;
                    }
                    <tr style="background-color: @item1.ColorEjercicio">
                        <td>@item1.NombreEjercicio</td>
                        <td>@item1.Serie1</td>
                        <td>@item1.Repeticion1</td>
                        <td>@item1.Peso1</td>
                        <td>@item1.Serie2</td>
                        <td>@item1.Repeticion2</td>
                        <td>@item1.Peso2</td>
                        <td>@item1.Serie3</td>
                        <td>@item1.Repeticion3</td>
                        <td>@item1.Peso3</td>
                        <td>@item1.DiaEjercicio</td>
                        <td>
                            @Html.ActionLink("Editar", "EditEjercicio", new { id = item1.Conjunto_EjercicioId }) |
                            @Html.ActionLink("Eliminar", "DeleteEjercicio", new { id = item1.Conjunto_EjercicioId })
                        </td>
                    </tr>
                }
            }
            @if (ViewBag.Conjunto_Ejercicios2 != null)
            {
                var dia = true;
                foreach (var item2 in ViewBag.Conjunto_Ejercicios2)
                {
                    if (dia)
                    {
                        <tr><td>Día 2</td></tr>
                        dia = false;
                    }
                    <tr style="background-color: @item2.ColorEjercicio">
                        <td>@item2.NombreEjercicio</td>
                        <td>@item2.Serie1</td>
                        <td>@item2.Repeticion1</td>
                        <td>@item2.Peso1</td>
                        <td>@item2.Serie2</td>
                        <td>@item2.Repeticion2</td>
                        <td>@item2.Peso2</td>
                        <td>@item2.Serie3</td>
                        <td>@item2.Repeticion3</td>
                        <td>@item2.Peso3</td>
                        <td>@item2.DiaEjercicio</td>
                        <td>
                            @Html.ActionLink("Editar", "EditEjercicio", new { id = item2.Conjunto_EjercicioId }) |
                            @Html.ActionLink("Eliminar", "DeleteEjercicio", new { id = item2.Conjunto_EjercicioId })
                        </td>
                    </tr>
                }
            }
            @if (ViewBag.Conjunto_Ejercicios3 != null)
            {
                var dia = true;
                foreach (var item3 in ViewBag.Conjunto_Ejercicios3)
                {
                    if (dia)
                    {
                        <tr><td>Día 3</td></tr>
                        dia = false;
                    }
                    <tr style="background-color: @item3.ColorEjercicio">
                        <td>@item3.NombreEjercicio</td>
                        <td>@item3.Serie1</td>
                        <td>@item3.Repeticion1</td>
                        <td>@item3.Peso1</td>
                        <td>@item3.Serie2</td>
                        <td>@item3.Repeticion2</td>
                        <td>@item3.Peso2</td>
                        <td>@item3.Serie3</td>
                        <td>@item3.Repeticion3</td>
                        <td>@item3.Peso3</td>
                        <td>@item3.DiaEjercicio</td>
                        <td>
                            @Html.ActionLink("Editar", "EditEjercicio", new { id = item3.Conjunto_EjercicioId }) |
                            @Html.ActionLink("Eliminar", "DeleteEjercicio", new { id = item3.Conjunto_EjercicioId })
                        </td>
                    </tr>
                }
            }
            @if (ViewBag.Conjunto_Ejercicios4 != null)
            {
                var dia = true;
                foreach (var item4 in ViewBag.Conjunto_Ejercicios4)
                {
                    if (dia)
                    {
                        <tr><td>Día 4</td></tr>
                        dia = false;
                    }
                    <tr style="background-color: @item4.ColorEjercicio">
                        <td>@item4.NombreEjercicio</td>
                        <td>@item4.Serie1</td>
                        <td>@item4.Repeticion1</td>
                        <td>@item4.Peso1</td>
                        <td>@item4.Serie2</td>
                        <td>@item4.Repeticion2</td>
                        <td>@item4.Peso2</td>
                        <td>@item4.Serie3</td>
                        <td>@item4.Repeticion3</td>
                        <td>@item4.Peso3</td>
                        <td>@item4.DiaEjercicio</td>
                        <td>
                            @Html.ActionLink("Editar", "EditEjercicio", new { id = item4.Conjunto_EjercicioId }) |
                            @Html.ActionLink("Eliminar", "DeleteEjercicio", new { id = item4.Conjunto_EjercicioId })
                        </td>
                    </tr>
                }
            }
            @if (ViewBag.Conjunto_Ejercicios5 != null)
            {
                var dia = true;

                foreach (var item5 in ViewBag.Conjunto_Ejercicios5)
                {
                    if (dia)
                    {
                        <tr><td>Día 5</td></tr>
                        dia = false;
                    }
                    <tr style="background-color: @item5.ColorEjercicio">
                        <td>@item5.NombreEjercicio</td>
                        <td>@item5.Serie1</td>
                        <td>@item5.Repeticion1</td>
                        <td>@item5.Peso1</td>
                        <td>@item5.Serie2</td>
                        <td>@item5.Repeticion2</td>
                        <td>@item5.Peso2</td>
                        <td>@item5.Serie3</td>
                        <td>@item5.Repeticion3</td>
                        <td>@item5.Peso3</td>
                        <td>@item5.DiaEjercicio</td>
                        <td>
                            @Html.ActionLink("Editar", "EditEjercicio", new { id = item5.Conjunto_EjercicioId }) |
                            @Html.ActionLink("Eliminar", "DeleteEjercicio", new { id = item5.Conjunto_EjercicioId, })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<section>
    <table id="tabla" class="table table-bordered table-responsive table-hover">
        <TR align="center" class="active">
            <TH COLSPAN=1>Ejercicio</TH>
            <TH COLSPAN=3>Semana 1-2</TH>
            <TH COLSPAN=3>Semana 3-4</TH>
            <TH COLSPAN=3>Semana 5-6</TH>
            <TH COLSPAN=1>Color</TH>
            <TH COLSPAN=1>Día</TH>
            <TH COLSPAN=1>Accion</TH>
        </TR>
        <TR>
            <TH></TH>
            <TH>S</TH>
            <TH>R</TH>
            <TH>P</TH>
            <TH>S</TH>
            <TH>R</TH>
            <TH>P</TH>
            <TH>S</TH>
            <TH>R</TH>
            <TH>P</TH>
            <TH></TH>
            <TH></TH>
            <TH></TH>
        </TR>
    </table>
    <br>
    <div class="btn-der">
        <br>
        <button id="adicional" name="adicional" type="button" class="btn btn-warning"> Mas + </button>
        <button id="submit" name="submit" type="submit" class="btn btn-default"> Crear </button>
    </div>
</section>

</div>
</body>
</html>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
    <script>
        //Insert new rows into table
        $(document).ready(function () {
            $("#adicional").on('click', function () {
                var tableRef = document.getElementById('tabla').getElementsByTagName('tbody')[0];

                // Insert a row in the table at the last row
                var newRow = tableRef.insertRow(tableRef.rows.length);

                // Insert a cell in the row at index 0
                var newCell = newRow.insertCell(0);
                var newCell1 = newRow.insertCell(1);
                var newCell2 = newRow.insertCell(2);
                var newCell3 = newRow.insertCell(3);
                var newCell4 = newRow.insertCell(4);
                var newCell5 = newRow.insertCell(5);
                var newCell6 = newRow.insertCell(6);
                var newCell7 = newRow.insertCell(7);
                var newCell8 = newRow.insertCell(8);
                var newCell9 = newRow.insertCell(9);
                var newCell10 = newRow.insertCell(10);
                var newCell11 = newRow.insertCell(11);
                var newCell12 = newRow.insertCell(12);

                var input1 = document.createElement("input");
                input1.type = "text"; input1.min = 0; input1.pattern = "[a-z]"; input1.title = "Palabras únicamente."

                var input2 = document.createElement("input");
                input2.type = "text"; input2.min = 0; input2.pattern = "[a-z]"; input2.title = "Palabras únicamente."

                var input3 = document.createElement("input");
                input3.type = "text"; input3.min = 0; input3.pattern = "[a-z]"; input3.title = "Palabras únicamente."

                var input4 = document.createElement("input");
                input4.type = "text"; input4.min = 0; input4.pattern = "[a-z]"; input4.title = "Palabras únicamente."

                var input5 = document.createElement("input");
                input5.type = "text"; input5.min = 0; input5.pattern = "[a-z]"; input5.title = "Palabras únicamente."

                var input6 = document.createElement("input");
                input6.type = "text"; input6.min = 0; input6.pattern = "[a-z]"; input6.title = "Palabras únicamente."

                var input7 = document.createElement("input");
                input7.type = "text"; input7.min = 0; input7.pattern = "[a-z]"; input7.title = "Palabras únicamente."

                var input8 = document.createElement("input");
                input8.type = "text"; input8.min = 0; input8.pattern = "[a-z]"; input8.title = "Palabras únicamente."

                var input9 = document.createElement("input");
                input9.type = "text"; input9.min = 0; input9.pattern = "[a-z]"; input9.title = "Palabras únicamente."

                var input10 = document.createElement("input");
                input10.type = "text";

                var colores = ["Blanco", "Rosado", "Celeste", "Morado", "Naranja", "Verde", "Amarillo"];
                var colors = ["white", "deeppink", "aqua", "mediumpurple", "orange", "chartreuse", "yellow"];
                var c = document.createElement('select');
                c.type = 'select';

                for (var i = 0; i < colores.length; i++) {
                    var option = document.createElement('option');
                    option.value = colors[i];
                    option.text = colores[i];
                    c.add(option);
                }
                var dias = ["Dia1", "Dia2", "Dia3", "Dia4"];
                var d = document.createElement('select');
                d.type = 'select';
                for (var i = 0; i < dias.length; i++) {
                    var option = document.createElement('option');
                    option.value = dias[i];
                    option.text = dias[i];
                    d.add(option);
                }

                //DropDownList1.type = "DropDownList"; DropDownList1.items.insert(Dia, " - Select From List - ")

                var checkBox = document.createElement('input');
                checkBox.type = 'button';
                checkBox.className = 'btn btn-danger';
                checkBox.value = '-';
                checkBox.name = 'checkbox';

                newCell.appendChild(input10);
                newCell1.appendChild(input1);
                newCell2.appendChild(input2);
                newCell3.appendChild(input3);
                newCell4.appendChild(input4);
                newCell5.appendChild(input5);
                newCell6.appendChild(input6);
                newCell7.appendChild(input7);
                newCell8.appendChild(input8);
                newCell9.appendChild(input9);
                newCell10.appendChild(c);
                newCell11.appendChild(d);
                newCell12.appendChild(checkBox);

                document.getElementsByClassName("input").required;

            });

            //Delete rows in tha table
            $('.table tbody').on('click', '.btn', function () {
                $(this).closest('tr').remove();
            });


            //method to send array to controller
            $('#submit').click(function () {

                var table = document.getElementById("tabla");
                var tableArr = [];
                for (var i = 2; i < table.rows.length; i++) {
                    tableArr.push({
                        NombreEjercicio: table.rows[i].cells[0].children[0].value,
                        Serie1: table.rows[i].cells[1].children[0].value,
                        Repeticion1: table.rows[i].cells[2].children[0].value,
                        Peso1: table.rows[i].cells[3].children[0].value,
                        Serie2: table.rows[i].cells[4].children[0].value,
                        Repeticion2: table.rows[i].cells[5].children[0].value,
                        Peso2: table.rows[i].cells[6].children[0].value,
                        Serie3: table.rows[i].cells[7].children[0].value,
                        Repeticion3: table.rows[i].cells[8].children[0].value,
                        Peso3: table.rows[i].cells[9].children[0].value,
                        ColorEjercicio: table.rows[i].cells[10].children[0].value,
                        diaEjercicio: table.rows[i].cells[11].children[0].value
                    });
                }

                var datos = {
                    'data': @viewDataRutina,
                    'ejercicios': tableArr
                }
                @{
                    string expresion, expresionNumerica;
                    expresionNumerica = "^[0-9,+,=,/]+$";
                    expresion = @"(^[a-zA-Z'.\s])";
                    System.Text.RegularExpressions.Regex automata = new Regex(expresion);
                    System.Text.RegularExpressions.Regex automataNumerico = new Regex(expresionNumerica);
                }
                //$(document).ready(function () {
                //for (var i = 0; i < tableArr.length; i++){
                //    if (tableArr[i].NombreEjercicio == null || !automata.IsMatch(tableArr[i].NombreEjercicio) ||
                //        tableArr[i].Serie1 == null || !automataNumerico.IsMatch(tableArr[i].Serie1) ||
                //        tableArr[i].Repeticion1 == null || !automataNumerico.IsMatch(tableArr[i].Repeticion1) ||
                //        tableArr[i].Peso1 == null || !automataNumerico.IsMatch(tableArr[i].Peso1) ||
                //        tableArr[i].Serie2 == null || !automataNumerico.IsMatch(tableArr[i].Serie2) ||
                //        tableArr[i].Repeticion2 == null || !automataNumerico.IsMatch(tableArr[i].Repeticion2) ||
                //        tableArr[i].Peso2 == null || !automataNumerico.IsMatch(tableArr[i].Peso2) ||
                //        tableArr[i].Serie3 == null || !automataNumerico.IsMatch(tableArr[i].Serie3) ||
                //        tableArr[i].Repeticion3 == null || !automataNumerico.IsMatch(tableArr[i].Repeticion3) ||
                //        tableArr[i].Peso3 == null || !automataNumerico.IsMatch(tableArr[i].Peso3) ||
                //    tableArr[i].ColorEjercicio == null || tableArr[i].diaEjercicio == null) {
                //            alert('Hubo un error');
                //        }
                //}
                //});

                        $.ajax({
                            url: '/Rutinas/Ejercicio',
                            dataType: 'JSON',
                            type: 'POST',
                            data: JSON.stringify(datos), //agregar el campo para el id de la rutina
                            contentType: 'application/json; charset=utf-8',
                            success: function (result) {
                                alert('Ejercicios Registrados');
                                location.reload();

                            },
                            error: function (request) {
                                alert('Hubo un error');
                            }
                        });

                    });
        });
    </script>
}