@model SOGIP_v2.Models.Conjunto_Ejercicio
@{
    ViewBag.Title = "Ejercicio";
}

<h2>Create</h2>
<html lang="es">
<head>
    <meta charset="utf-8">
 

</head>
<body>
    <section>
        <table class="table">
            <tr class="info">
                <TH COLSPAN=1>Ejercicio</TH>
                <TH COLSPAN=3>Semana 1-2</TH>
                <TH COLSPAN=3>Semana 3-4</TH>
                <TH COLSPAN=3>Semana 5-6</TH>
                <TH COLSPAN=1>Editar</TH>

            </tr>
            <tr class="info">

                <TH></TH>
                <TH>S1</TH>
                <TH>R1</TH>
                <TH>P1</TH>
                <TH>S2</TH>
                <TH>R2</TH>
                <TH>P2</TH>
                <TH>S3</TH>
                <TH>R3</TH>
                <TH>P3</TH>
                <TH></TH>
            </tr>
        </table>
        <form method="post">
            <table class="table bg-info" id="tabla" width="10">
                <tr class="fila-fija">
                    <td><input required name="nombreEjercicio" placeholder=" Nombre Ejercicio" /></td>
                    <td><input required name="serie1" placeholder="S1"/></td>
                    <td><input required name="repe1" placeholder="R1" /></td>
                    <td><input required name="peso1" placeholder="P1" /></td>
                    <td><input required name="serie2" placeholder="S2" /></td>
                    <td><input required name="repe2" placeholder="R2" /></td>
                    <td><input required name="peso2" placeholder="P2" /></td>
                    <td><input required name="serie3" placeholder="S3" /></td>
                    <td><input required name="repe3" placeholder="R3" /></td>
                    <td><input required name="peso3" placeholder="P3" /></td>
                    <td class="eliminar"><input type="button" value="Menos-" /></td>
                </tr>
            </table>
            <div class="btn-der">
                <input type="submit" name="insertar" value="Insertar Ejercicio" class="btn-block btn-info" />
                <br>
                <button id="adicional" name="adicional" type="button" class="btn btn-warning"> Mas + </button>
            </div>
        </form>

    </section>
</body>
</html>

@section Scripts {
  

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/fullCalendar/jquery.min.js")
    @Scripts.Render("~/Scripts/fullCalendar/moment.min.js")
    @Scripts.Render("~/Scripts/fullCalendar/fullcalendar.js")
    @Scripts.Render("~/Scripts/fullCalendar/locale/es.js")
    <script>
        $(function () {
            $("#adicional").on('click', function () {
                $("#tabla tbody tr:eq(0)").clone().removeClass('fila-fija').appendTo("#tabla");
            });

            $(document).on("click", ".eliminar", function () {
                var parent = $(this).parents().get(0);
                $(parent).remove();
            });
            $(document).on("click", ".insertar", function () {

            });
        });
    </script>
}
