@model IEnumerable<SOGIP_v2.Models.Rutina>

@{
    ViewBag.Title = "Lista de Rutinas";

    @Styles.Render("~/Content/Rutina.css")

    @Styles.Render("~/Content/Detalle_Rutina.css")
    @Styles.Render("~/Content/manual.css")
}
}

<html>
<body>
    <div class="container">
<div class="col-md-10">

</div>
<br />
<br />

<h2>Lista de Rutinas</h2>

@Html.ActionLink("Crear nueva rutina", "Create", null, new { @class = "btn btn-default" })
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            Fecha de la rutina
        </th>
        <th>
            Observaciones
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.Usuario.Cedula)
                @Html.DisplayFor(modelItem => item.Usuario.Nombre1)
                @Html.DisplayFor(modelItem => item.Usuario.Apellido1)
                @Html.DisplayFor(modelItem => item.Usuario.Apellido2)
            </td>
            <td>

                @item.RutinaFecha.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RutinaObservaciones)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.RutinaId}, new { @style = "color:#000aaa;" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.RutinaId }, new { @style = "color:#000aaa;" })|
                @Html.ActionLink("Rutina", "Ejercicio", new { idRutina = item.RutinaId }, new { @style = "color:#000aaa;" })
            </td>
        </tr>
    }

</table>
        </div>
    </body>
</html>