@model IEnumerable<SOGIP_v2.Models.Rutina>

@{
    ViewBag.Title = "Lista de Rutinas";

    ViewBag.Control = "Rutinas";
    ViewBag.ControlIcono = "glyphicon-user";

    ViewBag.Metodo = "Index";
    ViewBag.MetodoIcono = "glyphicon-edit";

    ViewBag.Referencia = "Rutinas/Create";
    ViewBag.Accion = "Crear Rutina";

    @Styles.Render("~/Content/Rutina.css")
    @Styles.Render("~/Content/Detalle_Rutina.css")
    @Styles.Render("~/Content/manual.css")
}

<div class="container" style="min-height: 369px;">
    @*<div class="col-md-12">
        <h2 class="col-md-3" style="color: black">
            <a href="/Home/Index/" class="btn btn-success" type="button">
                <i class="glyphicon glyphicon-chevron-left"></i>Volver al Inicio&nbsp;
            </a>
        </h2>
        <h2 class="col-md-1" style="color: black">
            |
        </h2>
        <h2 class="col-md-5" style="color: black">
            Registros > Rutinas > @ViewBag.Title
        </h2>
        <h2 class="col-md-1" style="color: black">
            |
        </h2>
        <h2 class="col-md-2" style="color: black">
            <a href="/Rutinas/Create/" class="btn btn-success" type="button">
                Crear nueva rutina&nbsp;<i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        </h2>
    </div>*@

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                Fecha de la rutina
            </th>
            <th>
                Observaciones
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Usuario.Cedula)
                    @Html.DisplayFor(modelItem => item.Usuario.Nombre1)
                    @Html.DisplayFor(modelItem => item.Usuario.Apellido1)
                    @Html.DisplayFor(modelItem => item.Usuario.Apellido2)
                </td>
                <td>

                    @item.RutinaFecha.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RutinaObservaciones)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.RutinaId }, new { @style = "color:#000aaa;" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.RutinaId }, new { @style = "color:#000aaa;" })|
                    @Html.ActionLink("Rutina", "Ejercicio", new { idRutina = item.RutinaId }, new { @style = "color:#000aaa;" })
                </td>
            </tr>
        }

    </table>
</div>