@model IEnumerable<SOGIP_v2.Models.Rutina>

@{
    ViewBag.Title = "Lista de Rutinas";
}

<h2>Lista de Rutinas</h2>

<p>
    @Html.ActionLink("Nueva Rutina", "Create")
</p>
<table class="table">
    <tr>
      <th>
          @Html.DisplayNameFor(model => model.Usuario)
          </th>
        <th>
            @Html.DisplayNameFor(model => model.RutinaFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RutinaObservaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>

            @Html.DisplayFor(modelItem => item.Usuario.Cedula)
            @Html.DisplayFor(modelItem => item.Usuario.Nombre1)
            @Html.DisplayFor(modelItem => item.Usuario.Apellido1)
            @Html.DisplayFor(modelItem => item.Usuario.Apellido2)
        </td>
        <td>
           
            @item.RutinaFecha.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RutinaObservaciones)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.RutinaId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.RutinaId })|
            @Html.ActionLink("Rutina", "Ejercicio", new { idRutina = item.RutinaId })
        </td>
    </tr>
}

</table>
