@model IEnumerable<SOGIP_v2.Models.Rutina>

@{
<<<<<<< HEAD
    ViewBag.Title = "Lista de Rutinas";
}

<h2>Lista de Rutinas</h2>

<p>
    @Html.ActionLink("Crear nueva rutina", "Create")
=======
    ViewBag.Title = "Lista Rutinas";
}


<p>
    @Html.ActionLink("Nueva Rutina", "Create")
>>>>>>> Prueba_Adri
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RutinaFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RutinaObservaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RutinaFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RutinaObservaciones)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.RutinaId }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.RutinaId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.RutinaId })|
            @Html.ActionLink("Registro Ejercicio", "Ejercicio", new { idRutina = item.RutinaId })|
            @Html.ActionLink("Ver Rutina", "ListaEjercicio",new { idRutina = item.RutinaId })
        </td>
    </tr>
}

</table>
