
@model IEnumerable<SOGIP_v2.Models.Conjunto_Ejercicio>

@{
    ViewBag.Title = "Ejercicios";
}

<p>
    @Html.ActionLink("Rutinas", "Index")
</p>
<h3>Rutina</h3>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    @{
        var viewDataRutina = ViewData["rutina"];
    }
    @Html.Hidden("data", viewDataRutina)

    <div class="row">
        <div class="col-sm-12">
            <table id="proveedores" class="table table-bordered table-responsive table-hover">
                <thead style="background-color:#337ab7;border-color:#2e6da4;color:#fff;">

                    <TR>
                        <TH COLSPAN=1>Ejercicio</TH>
                        <TH COLSPAN=3>Semana 1-2</TH>
                        <TH COLSPAN=3>Semana 3-4</TH>
                        <TH COLSPAN=3>Semana 5-6</TH>

                    </TR>

                    <TR>

                        <TH></TH>
                        <TH>S</TH>
                        <TH>R</TH>
                        <TH>P</TH>
                        <TH>S</TH>
                        <TH>R</TH>
                        <TH>P</TH>
                        <TH>S</TH>
                        <TH>R</TH>
                        <TH>P</TH>
                    </TR>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.NombreEjercicio)</td>
                        <td>@Html.DisplayFor(modelItem => item.Serie1)</td>
                        <td>@Html.DisplayFor(modelItem => item.Repeticion1)</td>
                        <td>@Html.DisplayFor(modelItem => item.Peso1)</td>
                        <td>@Html.DisplayFor(modelItem => item.Serie2)</td>
                        <td>@Html.DisplayFor(modelItem => item.Repeticion2)</td>
                        <td>@Html.DisplayFor(modelItem => item.Peso2)</td>
                        <td>@Html.DisplayFor(modelItem => item.Serie3)</td>
                        <td>@Html.DisplayFor(modelItem => item.Repeticion3)</td>
                        <td>@Html.DisplayFor(modelItem => item.Peso3)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
 
    
