@model IEnumerable<SOGIP_v2.Models.Conjunto_Ejercicio>

@{
    ViewBag.Title = "Lista Ejercicios";
}

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<table class="table table-bordered table-responsive table-hover">
    <tr>
    <TR>

        <TH COLSPAN=1>Ejercicio</TH>
        <TH COLSPAN=3>Semana 1-2</TH>
        <TH COLSPAN=3>Semana 3-4</TH>
        <TH COLSPAN=3>Semana 5-6</TH>
        <TH COLSPAN=1>Editar</TH>

    </TR>

    <TR>

        <TH></TH>
        <TH>S1</TH>
        <TH>R1</TH>
        <TH>P1</TH>
        <TH>S2</TH>
        <TH>R2</TH>
        <TH>P2</TH>
        <TH>S3</TH>
        <TH>R3</TH>
        <TH>P3</TH>
        <TH></TH>
    </TR>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEjercicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repeticion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repeticion2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repeticion3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso3)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditEjercicio", new { id = item.Conjunto_EjercicioId }) |
                @Html.ActionLink("Detalles", "DetailsEjercicio", new { id = item.Conjunto_EjercicioId }) |
                @Html.ActionLink("Eliminar", "DeleteEjercicio", new { id = item.Conjunto_EjercicioId })
            </td>
        </tr>
    }

</table>

