
@model IEnumerable<SOGIP_v2.Models.Conjunto_Ejercicio>

@{
    ViewBag.Title = "Ejercicios";
    var viewDataRutina = ViewData["rutina"];
    var viewDataMensaje = ViewData["mensaje"];
}

@Html.Hidden("data", viewDataRutina)

<div class="container">
    <div class="well">
        <h4>Usuario</h4>
        <h4>@ViewBag.Usuario</h4>
        <h4>@ViewData["mensaje"]</h4>
        <div class="table-responsive">
            <table id="proveedores" class="table table-bordered table-responsive table-hover">
                <thead style="background-color:#337ab7;border-color:#2e6da4;color:#fff;">
                    <TR>
                        <TH COLSPAN=1>Ejercicio</TH>
                        <TH COLSPAN=3>Semana 1-2</TH>
                        <TH COLSPAN=3>Semana 3-4</TH>
                        <TH COLSPAN=3>Semana 5-6</TH>
                    </TR>
                    <TR>
                        <TH></TH>
                        <TH>S</TH>
                        <TH>R</TH>
                        <TH>P</TH>
                        <TH>S</TH>
                        <TH>R</TH>
                        <TH>P</TH>
                        <TH>S</TH>
                        <TH>R</TH>
                        <TH>P</TH>
                    </TR>
                </thead>
                <tbody>
                    @if (ViewBag.Conjunto_Ejercicios1 != null)
                    {
                        var dia = "";

                        foreach (var item1 in ViewBag.Conjunto_Ejercicios1)
                        {
                            if (dia != item1.DiaEjercicio)
                            {
                                dia = item1.DiaEjercicio;
                                <tr><td>@item1.DiaEjercicio</td></tr>
                            }

                            <tr style="background-color: @item1.ColorEjercicio">
                                <td>@item1.NombreEjercicio</td>
                                <td>@item1.Serie1</td>
                                <td>@item1.Repeticion1</td>
                                <td>@item1.Peso1</td>
                                <td>@item1.Serie2</td>
                                <td>@item1.Repeticion2</td>
                                <td>@item1.Peso2</td>
                                <td>@item1.Serie3</td>
                                <td>@item1.Repeticion3</td>
                                <td>@item1.Peso3</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>