
@model SOGIP_v2.Models.Cita

@{
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    ViewBag.Title = "Calendario de Citas";

    ViewBag.Control = "CitasAdmin";
    ViewBag.ControlIcono = "glyphicon-user";

    // Si existe un Método se dispone el nombre del Método en que se encuentra y el ícono que se mostrará.
    ViewBag.Metodo = "Create2";
    ViewBag.MetodoIcono = "glyphicon-edit";

    @Styles.Render("~/Content/fullcalendar.css")
    @Styles.Render("~/Contents/bootstrap-datepicker.css")
    @Styles.Render("~/Content/jquery.timepicker.css")
}

<div class="container">

    <div id="calendar"></div>

    @*MODAL PARA VER O ELIMINAR CITAS*@
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body">
                   
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">

                    <button id="btnDelete" class="btn btn-warning  mr-auto">
                        <span class="glyphicon glyphicon-remove"></span>
                        Eliminar
                    </button>
                    <button id="btnEdit" class="btn btn-success  mr-auto" style="margin-right: 5px;">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Editar
                    </button>

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    @*MODAL PARA EDITAR O CREAR LAS CITAS*@
    <div id="myModalSave" class="modal fade bd-example-modal-lg" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content col-md-12" style="align-content:center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">GUARDAR CITA</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input type="hidden" id="hdEventID" value="0" />
                        <div class="row">
                            <div class="form-group col-lg-3 col-md-6 col-sm-6">
                                <label>Fecha de inicio</label>
                                <div class="input-group date" id="dtp1">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    <input type="text" id="txtStart" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group col-lg-3 col-md-6 col-sm-6">
                                <label>Hora de inicio</label>
                                <div class="input-group date" id="dtp3">
                                    <span id="FT" class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                    <input class="timepicker form-control" value="" id="txtHora" type="text">
                                </div>
                            </div>

                            <div class="form-group col-lg-3 col-md-6 col-sm-6">
                                <label>Hora de finalización</label>
                                <div class="input-group date" id="dtp2">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                    <input class="timepicker form-control" value="" id="txtHoraF" type="text" readonly>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" id="inbodyCheck" checked="checked" />InBody</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" id="rutinaCheck" checked="checked" />Rutina</label>
                            </div>
                        </div>

                        <div class="form-group" id="cedUD" style="display:none;">
                            <label>Cedula de usuario</label>
                            <div class="input-group" id="cedU">
                                <input type="text" id="txtCed" class="form-control" />
                            </div>
                        </div>
                        <br />
                        <div class="modal-footer">
                            <button type="button" id="btnSave" class="btn btn-primary">Guardar Cambios</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@*------LA PARTE MÁS IMPORTANTE DE ESTE REQUERIMIENTO-------*@
@section Scripts {
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/overcast/jquery-ui.css" rel="stylesheet" />


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.min.js")
    @Scripts.Render("~/Scripts/fullCalendar/moment.min.js")
    @Scripts.Render("~/Scripts/fullCalendar/fullcalendar.js")
    @Scripts.Render("~/Scripts/fullCalendar/locale/es.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/jquery.timepicker.js")
    @Scripts.Render("~/Scripts/fullCalendar/generalcalendar.js")
    @Scripts.Render("~/Scripts/bootbox.min.js")

}