@model IEnumerable<SOGIP_v2.Models.ApplicationUser>

@{
    ViewBag.Title = "Búsqueda";

    List<SelectListItem> Tipo = new List<SelectListItem>();

    Tipo.Add(new SelectListItem { Text = "Cédula", Value = "0" });
    Tipo.Add(new SelectListItem { Text = "Nombre", Value = "1" });
    Tipo.Add(new SelectListItem { Text = "Apellido", Value = "2" });
    @*Tipo.Add(new SelectListItem { Text = "Sexo", Value = "3" });
        Tipo.Add(new SelectListItem { Text = "Asociación/Comité", Value = "4" });
        Tipo.Add(new SelectListItem { Text = "Selección/Federación", Value = "5" });
        Tipo.Add(new SelectListItem { Text = "Atleta", Value = "6" });
        Tipo.Add(new SelectListItem { Text = "Atleta Alto Rendimiento", Value = "7" });*@
}

@Styles.Render("~/Content/Perfil.css")


<div>

    <br />
    <br />
    <br />

    <h2 class="col-md-3" style="color: black">
        <a href="/Home/Index/" class="btn btn-success" type="button">
            <i class="glyphicon glyphicon-chevron-left"></i>Volver al Inicio&nbsp;
        </a>
    </h2>
    <h2 class="col-md-1" style="color: black">
        |
    </h2>
    <h2 class="col-md-5" style="color: black">
        Registros > Buscar > @ViewBag.Title
    </h2>
    <h2 class="col-md-1" style="color: black">
        |
    </h2>

    <br /><br />
    <br /><br />

    <center>
        <input class="" type="search" placeholder="Buscar por" id="Search">
        @Html.DropDownList("Tipo", Tipo, new { @class = "", id = "SearchBy" })
        <button id="SearchBtn" type="submit">Buscar</button>
    </center>
</div>

<br><br>

<div class="container">

    <div class="well span8 offset 2" id="perfiles">

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Busquedas.js")
}