@model IEnumerable<SOGIP_v2.Models.Estado>


@{
    ViewBag.Title = "Estados";

    // Controller en español.
    ViewBag.Controller = "Estados";

    // // Si existe un Estados se dispone el nombre del Control y ícono que se mostrará.
    ViewBag.Control = "Estados";
    ViewBag.ControlIcono = "glyphicon-book";

    // Si existe un Método se dispone el nombre del Método en que se encuentra y el ícono que se mostrará.
    // ViewBag.Metodo = "Masivo";
    // ViewBag.MetodoIcono = "glyphicon-cloud";

    // Si se necesita una Acción como crear nuevo usuario, rutina. Se selecciona está opción y el ícono deseado.
    ViewBag.Referencia = "Estados/Create";
    ViewBag.Accion = "Crear Estado";

    @Styles.Render("~/Content/manual.css")
    @Styles.Render("~/Content/Detalle_Rutina.css")
}

<div class="container" style="min-height: 369px;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.EstadoId }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.EstadoId })
                </td>
            </tr>
        }

    </table>


</div>
