@model IEnumerable<SOGIP_v2.Models.Estado>


@{
    ViewBag.Title = "Estados";

    @Styles.Render("~/Content/manual.css")
    @Styles.Render("~/Content/Detalle_Rutina.css")
}

<div class="container">

    <h2 class="col-md-3" style="color: black">
        <a href="/Home/Index/" class="btn btn-success" type="button">
            <i class="glyphicon glyphicon-chevron-left"></i>Volver al Inicio&nbsp;
        </a>
    </h2>
    <h2 class="col-md-1" style="color: black">
        |
    </h2>
    <h2 class="col-md-5" style="color: black">
        Registros > Estados > @ViewBag.Title
    </h2>
    <h2 class="col-md-1" style="color: black">
        |
    </h2>
    <h2 class="col-md-2" style="color: black">
        <a href="/Estados/Create/" class="btn btn-success" type="button">
            Crear nuevo estado&nbsp;<i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    </h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.EstadoId }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.EstadoId })
                </td>
            </tr>
        }

    </table>


</div>
