<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SOGIP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site.css")
    @RenderSection("JavaScript", required: false)


</head>
<body>
    <div class="container body-content">

        <div class="header">
            <div class="jumbotron">
                <h1 class="auto-style1">
                    <a href="~/Home/Index" class="logo">
                        <img src="~/Content/Imagenes/logo_png_header.png">
                    </a> 
                    SISTEMA OPERATIVO GIMNASIO DE PESAS
                </h1>
            </div>
        </div>

        @Html.Partial("_LoginPartial")
        @RenderBody()

        <hr />
        <center>
            <footer>
                <address>
                    <p>
                        DERECHOS RESERVADOS &copy; @DateTime.Now.Year - SOGIP &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <strong>Soporte y Ayuda:</strong>   <a href="mailto:admSOGIP@hotmail.com">admSOGIP@hotmail.com</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <abbr title="Oficina Central"> <strong>Contáctenos:</strong> </abbr> (+506) 2549-0814 (Ext. 214)
                    </p>
                </address>
            </footer>
        </center>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
