<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SOGIP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site.css")
    @RenderSection("JavaScript", required: false)


</head>
<body>
    <div class="wrapper">

        @Html.Partial("_LoginPartial")
        @RenderBody()










        <hr />
        <div class="panel-footerA">
        <center>
            <footer>
                <address>
                    <p>
                        <a href="http://www.icoder.go.cr/">
                            <img class="img-rounded" src="~/Content/Imagenes/logo_png_header.png" alt="User Pic" , style="width:25px;height:25px;">
                        </a>
                        DERECHOS RESERVADOS &copy; @DateTime.Now.Year - SOGIP &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <strong>Soporte y Ayuda:</strong>   <a href="mailto:admSOGIP@hotmail.com">admSOGIP@hotmail.com</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <abbr title="Oficina Central"> <strong>Contáctenos:</strong> </abbr> (+506) 2549-0814 (Ext. 214)
                    </p>
                </address>
            </footer>
        </center>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
