@using Microsoft.AspNet.Identity
@using App.Extensions

<nav class="navbar navbar-inverse" style="margin-bottom:0px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" style="margin-top: -9px;">
                <a href="~/Home/Index">
                    <span>
                        <img id="logo_SOGIP" src="~/Content/Imagenes/logo_SOGIP_sin_letras.png" height="40" width="40">
                    </span>
                </a>
                <p class="hidden-xs" style="display: inline-block;">Sistema Operativo Gimnasio de Pesas</p>

                <!-- El siguiente párrafo será mostrado únicamente cuando la pantalla sea *extra-small*. -->
                <p class="hidden-lg hidden-md hidden-sm" style="display: inline-block;"> SOGIP </p>

                <!-- El siguiente logo será mostrado únicamente cuando la pantalla sea *extra-small*. -->
                <a href="https://www.icoder.go.cr" class="hidden-lg hidden-md hidden-sm">
                    <span>
                        <img id="logo_SOGIP" src="~/Content/Imagenes/Blanco.png" height="40" width="40">
                    </span>
                </a>
            </div>
        </div>

        <div class="navbar-collapse collapse in" aria-expanded="true" id="navbar">
            @if (Request.IsAuthenticated)
            {
            <ul class="nav navbar-nav">
                <li>
                    <a href="~/Home/Index">
                        <span class="glyphicon glyphicon-home"></span>
                        Inicio
                    </a>
                </li>
                @if (User.IsInRole("Administrador") || User.IsInRole("Supervisor"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-menu-down"></span> Registros
                        </a>
                        <ul class="dropdown-menu" role="menu" id="myTab">
                            <li role="presentation">
                                <a href="~/UsersAdmin/Index/">
                                    <span class="glyphicon glyphicon-pencil"></span> Manual
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation">
                                <a href="~/UsersAdmin/IndexMasivo/">
                                    <span class="glyphicon glyphicon-cloud"></span> Masivo
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation">
                                <a href="~/Rutinas/Index/">
                                    <span class="glyphicon glyphicon-apple"></span> Rutina
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation">
                                <a href="~/ExpedientesFisicos/Index/">
                                    <span class="glyphicon glyphicon-file"></span> Expediente
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation">
                                <a href="~/Ejercicio/Index/">
                                    <span class="glyphicon glyphicon-list"></span> Ejercicios
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation">
                                <a href="~/Maquina/Index/">
                                    <span class="glyphicon glyphicon-scale"></span> Máquina
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-menu-down"></span> Calendarios
                        </a>
                        <ul class="dropdown-menu" role="menu" id="myTab">
                            <li>
                                <a href="~/CitasAdmin/Create?id=@User.Identity.GetUserId()">
                                    <span class="glyphicon glyphicon-calendar"></span> Citas
                                </a>
                            </li>
                            <li>
                                <a href="~/Reservacion/Create?id=@User.Identity.GetUserId()">
                                    <span class="glyphicon glyphicon-calendar"></span> Reservaciones
                                </a>
                            </li>
                        </ul>
                    </li>
                    @*
                    <li>
                        <a href="~/Busqueda/Index">
                            <span class="glyphicon glyphicon-search"></span> Búsqueda
                        </a>
                    </li>*@
                    <li>
                        <a href="~/AtletasAsignados/Index">
                            <span class="glyphicon glyphicon-list-alt"></span> Funcionarios
                        </a>
                    </li>
                    <li>
                        <a href="~/Opciones/Avanzadas">
                            <span class="glyphicon glyphicon-cog"></span> Avanzadas
                        </a>
                    </li>

                }
                @if (User.IsInRole("Atleta") || User.IsInRole("Atleta Becados") || User.IsInRole("Funcionarios ICODER"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-menu-down"></span> Calendarios
                        </a>
                        <ul class="dropdown-menu" role="menu" id="myTab">
                            <li>
                                <a href="~/CitasAdmin/Create2?id=@User.Identity.GetUserId()">
                                    <span class="glyphicon glyphicon-calendar"></span> Citas
                                </a>
                            </li>
                            <li>
                                <a href="~/Reservacion/Create?id=@User.Identity.GetUserId()">
                                    <span class="glyphicon glyphicon-calendar"></span> Reservaciones
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li role="presentation">
                        <a href="~/Rutinas/ListaEjercicio?idUsuario=@User.Identity.GetUserId()">
                            <span class="glyphicon glyphicon-apple"></span> Rutina
                        </a>
                    </li>
                }
                @if (User.IsInRole("Entrenador"))
                {
                    <li role="presentation">
                        <a href="~/Rutinas/Create">
                            <span class="glyphicon glyphicon-apple"></span> Rutina
                        </a>
                    </li>
                    <li>
                        <a href="~/Reservacion/Create?id=@User.Identity.GetUserId()">
                            <span class="glyphicon glyphicon-calendar"></span> Reservaciones
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="~/AtletasAsignados/Index">
                            <span class="glyphicon glyphicon-list-alt"></span> Atletas
                        </a>
                    </li>
                }               
                 
                    @if (User.IsInRole("Seleccion/Federacion") || User.IsInRole("Asociacion/Comite") || User.IsInRole("Entrenador"))
                    {
                        <li role="presentation">
                            <a href="~/AtletasAsignados/Index">
                                <span class="glyphicon glyphicon-list-alt"></span> Atletas
                            </a>
                        </li>
                    }
                </ul>
            }
                
            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown">
                        <form action="/Account/LogOff" method="post" id="logoutForm">
                            @Html.AntiForgeryToken()
                        </form>

                        @if (User.Identity.GetSexo() == "Sexo: True")
                        {
                            <img src="~/Content/Imagenes/M.png" alt="User Pic" style="width:40px; height:40px;">
                        }
                        else
                        {
                            <img src="~/Content/Imagenes/W.png" alt="User Pic" style="width:40px; height:40px;">
                        }

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="display: inline-block;">
                            @Html.ViewContext.HttpContext.User.Identity.GetNombre1()
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" id="myTab2">
                            <li role="presentation">
                                <a href="~/Account/Perfil?id=@User.Identity.GetUserId()">
                                    <span class="glyphicon glyphicon-user"></span>
                                    Perfil
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation">
                                <a href="~/Manage/Index">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    Ajustes
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation">
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    Cerrar Sesión
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/Account/Login">
                            <span class="glyphicon glyphicon-log-in"></span> Iniciar Sesión
                        </a>
                    </li>
                }
                <li class="hidden-xs" style="margin-top: -9px;">
                    <a class="navbar-brand" href="https://www.icoder.go.cr">
                        <span>
                            <img id="logo_SOGIP" src="~/Content/Imagenes/Blanco.png" height="50" width="50">
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    .nav-link {
        color: rgb(157, 157, 157);
        font-size: 18px;
    }
</style>
<div class="container-fluid" style="background-color: rgb(60, 60, 60); padding: 4px 4px;">
    <div class="nav-scroller shadow-sm">
        <nav class="nav nav-divider">
            <a class="nav-link active" href="~/Home/Index">
                <span class="glyphicon glyphicon-home"></span>
                Inicio /
            </a>
            @if (@ViewBag.Controller != null)
            {
                <a class="nav-link" href="~/@ViewBag.Control/Index">
                    <span class="glyphicon @ViewBag.ControlIcono"></span>
                    @ViewBag.Controller /
                </a>
            }
            @if (@ViewBag.Metodo != null)
            {
                <a class="nav-link" href="~/@ViewBag.Control/@ViewBag.Metodo">
                    <span class="glyphicon @ViewBag.MetodoIcono"></span>
                    @ViewBag.Metodo /
                </a>
            }
            @if (@ViewBag.Accion != null)
            {
                @Html.Raw(ViewBag.Accion)
                @*<a class="btn btn-success pull-right" style="padding: 2px 6px;" href="~/@ViewBag.Referencia">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    @ViewBag.Accion
                </a>*@
            }
        </nav>
    </div>
</div>