@{
                /**/

                ViewBag.Title = "Expedientes Físicos";
}

@Styles.Render("~/Content/manual.css")


@using (Html.BeginForm("Index", "ExpedientesFisicos", FormMethod.Post, new { id = "attachment", enctype = "multipart/form-data", encoding = "multipart/form-data" }))
{
    <div class="container">
        <div class="col-md-10">
            <a href="~/Home/Index"><input type="button" id="btn_regresar" class="btn btn-success" value="&laquo; Regresar"></a>
        </div>
        <br />
        <br />
        <div class="exp_fis">
            <font color="red"><b>@Html.Raw(ViewBag.Error)</b></font>
            <table>
                <tr>
                    <td><input type="radio" name="Tipo_Cta" id="funcionario"/>Funcionario</td>
                    <td><input type="radio" name="Tipo_Cta" id="atleta"/>Atletas</td>
                </tr>
            </table>
            <br>
            <form id="myForm">
                <label for="usuarioLabel"><b>Usuarios</b></label>
                 <select class="form-control" id="usuariosDropdown" name="usuarioDropdown"></select>

                @*<select name="SelectedCategory">
                    @foreach (var category in (SelectList)ViewBag.Atletas)
                    {
                        <option value="@category.Value">
                            @Html.Label(category.Text, new { @class = " control-label" })
                        </option>
                    }
                </select>*@


            </form>


        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group files">
                    <label>Seleccione un archivo InBody </label>
                    <input type="file" name="inbody" id="inbody" class="form-control" multiple="">
                    <!--input type="file" name="inbody" id="inbody" value="Cargar" /-->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group files color">
                    <label> Seleccione una prueba de fuerza </label>
                    <input type="file" name="pruFu" id="pruFu" class="form-control" multiple="">
                    <!--input type="file" name="pruFu" id="pruFu" value="Cargar" /-->
                </div>
            </div>
        </div>

        @*<div class="exp_fis" id="inicio">
                <font color="red"><b>@Html.Raw(ViewBag.Error1)</b></font>
                <span>Seleccione el archivo InBody a importar: </span>
                <input type="file" name="inbody" id="inbody" value="Cargar" />
                <br />
                <br />
                <br />
            </div>
            <div class="exp_fis">
                <font color="red"><b>@Html.Raw(ViewBag.Error2)</b></font>
                <span>Seleccione el archivo de Prueba de Fuerza a importar: </span>
                <input type="file" name="pruFu" id="pruFu" value="Cargar" />
                <br />
                <input type="submit" value="Importar" />
            </div>*@

        <input type="submit" value="Importar" />
        </div>

        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")

            <script>

                $(document).ready(function () {

                    $('#funcionario').change(function () {
                        cargaF();
                    })

                    $('#atleta').change(function () {
                        cargaA();
                    })

                });

                
                function cargaF() {
                    $.getJSON("/ExpedientesFisicos/getUsuariosF", null, function (data) {
                        $("#usuariosDropdown").empty() // Remove all <option> child tags.
                        $.each(data, function (index, item) { // Iterates through a collection
                            $("#usuariosDropdown").append(
                                $('<option></option>')
                                    .text(item.cedNomCompleto)
                                    .val(item.idAtleta)
                            );
                        });
                    });
                }

                function cargaA() {
                    $.getJSON("/ExpedientesFisicos/getUsuariosA", null, function (data) {
                        $("#usuariosDropdown").empty() // Remove all <option> child tags.
                        $.each(data, function (index, item) { // Iterates through a collection
                            $("#usuariosDropdown").append(
                                $('<option></option>')
                                    .text(item.cedNomCompleto)
                                    .val(item.idAtleta)
                            );
                        });
                    });
                }

                
            </script>
        }


        @*<select name="SelectedAthlete" id="select">
                @foreach (var entity in (SelectList)ViewBag.Atletas)
                {
                    <option value="@entity.Value">
                        @Html.Label(entity.Text, new { @class = "control-label" })
                    </option>
                }
            </select>*@
