@{
    ViewBag.Title = "Expedientes Físicos";
}

@Styles.Render("~/Content/manual.css")

<div class="container">
    @using (Html.BeginForm("Index", "ExpedientesFisicos", FormMethod.Post, new { id = "attachment", enctype = "multipart/form-data", encoding = "multipart/form-data" }))
    {
        <div class="col-md-10">
            <a href="~/Home/Index"><input type="button" id="btn_regresar" class="btn btn-success" value="&laquo; Regresar"></a>
        </div>
        <br />
        <br />
        <div class="exp_fis">
            <font color="red"><b>@Html.Raw(ViewBag.Error)</b></font>
          <tr>
                <td><input type="radio" name="Tipo_Cta" onclick="cargarCombo(this);" value="P" />Funcionario</td>
                <td><input type="radio" name="Tipo_Cta" onclick="cargarCombo(this);" value="E" />Atletas</td>
      </tr>
            <br>
            <form id="myForm">
                <label for="usuarioLabel"><b>Usuarios</b></label>
                <select class="form-control" id="usuariosDropdown" name="usuarioDropdown"></select>
            </form>


        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group files">
                    <label>Seleccione un archivo InBody </label>
                    <input type="file" name="inbody" id="inbody" class="form-control" multiple="">
                    <!--input type="file" name="inbody" id="inbody" value="Cargar" /-->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group files color">
                    <label> Seleccione una prueba de fuerza </label>
                    <input type="file" name="pruFu" id="pruFu" class="form-control" multiple="">
                    <!--input type="file" name="pruFu" id="pruFu" value="Cargar" /-->
                </div>
            </div>
        </div>

        @*<div class="exp_fis" id="inicio">
                <font color="red"><b>@Html.Raw(ViewBag.Error1)</b></font>
                <span>Seleccione el archivo InBody a importar: </span>
                <input type="file" name="inbody" id="inbody" value="Cargar" />
                <br />
                <br />
                <br />
            </div>
            <div class="exp_fis">
                <font color="red"><b>@Html.Raw(ViewBag.Error2)</b></font>
                <span>Seleccione el archivo de Prueba de Fuerza a importar: </span>
                <input type="file" name="pruFu" id="pruFu" value="Cargar" />
                <br />
                <input type="submit" value="Importar" />
            </div>*@

        <input type="submit" value="Importar" />

    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script>
            function cargarCombo(radio) {
                $ajax({
                    type: "POST",
                    url: "/ExpedientesFisicos/getUsuarios",
                    dataType: "JSON",
                    // parametros que recibe la accion de tu controlador
                    data: { TipoUsuario: radio.value },
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $.each(data, function (index, item) {
                            //Limpiamos el contenido del combo
                            $("#usuariosDropdown").html('');
                            //Incrustamos las opciones del SelectList
                            $("#usuariosDropdown").append("<option id='"
                                + item.idAtleta + "'>" + itemc.cedNomCompleto + "</option>");
                        });
                    }
                });
                }
        </script>
    }


    @*<select name="SelectedAthlete" id="select">
            @foreach (var entity in (SelectList)ViewBag.Atletas)
            {
                <option value="@entity.Value">
                    @Html.Label(entity.Text, new { @class = "control-label" })
                </option>
            }
        </select>*@
