@model SOGIP_v2.Models.RegisterViewModel


@{
    ViewBag.Title = "Registro Manual";

    List<SelectListItem> Sexo = new List<SelectListItem>();
    Sexo.Add(new SelectListItem
    {
        Text = "Femenino",
        Value = "false",
    });

    Sexo.Add(new SelectListItem
    {
        Text = "Masculino",
        Value = "true",
    });
}

@Styles.Render("~/Content/manual.css")

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">


<div class="container">

    @*
        <h2 class="col-md-12" style="color: black">
            <a href="/UsersAdmin/Index/" class="btn btn-success" type="button">
                <i class="glyphicon glyphicon-chevron-left"></i>Volver a Lista de Usuarios&nbsp;
            </a>
            | Registros > Usuarios > @ViewBag.Title |
        </h2>*@

    <br />

    <h2 class="col-md-3" style="color: black">
        <a href="/UsersAdmin/Index/" class="btn btn-success" type="button">
            <i class="glyphicon glyphicon-chevron-left"></i>Volver a Lista de Usuarios&nbsp;
        </a>
    </h2>
    <h2 class="col-md-1" style="color: black">
        |
    </h2>
    <h2 class="col-md-5" style="color: black">
        Registros > Usuarios > @ViewBag.Title
    </h2>
    <h2 class="col-md-1" style="color: black">
        |
    </h2>

    <br />
    <br />

    @using (Html.BeginForm("Create", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.ValidationSummary(false, "Los siguientes campos obligatorios están vacios: ")
        <div class="container">

            <div class="card card-default">
                <div class="form-group">
                    <div class="col-md-10">
                        <label class="control-label">
                            Seleccione el rol del usuario
                        </label>
                        <select id="selectedRoles" name="selectedRoles" class="form-control">
                            @foreach (var item in (SelectList)ViewBag.RoleId)
                            {
                                <option>
                                    @Html.Label(item.Text, new { @class = "control", id = "selectRol" })
                                </option>
                            }
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-10">
                        <h4>DATOS PERSONALES</h4>
                    </div>
                    <div class="col-md-1 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(m => m.Cedula, new { @class = "control-label" })
                                <br />
                                Nacional @Html.RadioButton("Nacionalidad", "Nacional", true, new { @onchange = "cls('10')", id = "CedNa" })
                                Extranjero @Html.RadioButton("Nacionalidad", "Extranjero", false, new { @onclick = "cls('15')", id = "CedEx" })
                                <br />
                                @Html.TextBoxFor(m => m.Cedula, new { @class = "form-control", id = "Cedula", maxLength = "10", placeholder = "Nacional solo números", onpaste = "pegar(event);", onkeypress = "return isNumber(event);" })
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(m => m.Nombre1, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Nombre1, new { @class = "form-control", id = "Nombre1" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(m => m.Nombre2, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Nombre2, new { @class = "form-control", id = "Nombre2" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(m => m.Apellido1, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Apellido1, new { @class = "form-control", id = "Apellido1" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(m => m.Apellido2, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Apellido2, new { @class = "form-control", id = "Apellido2" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-default">
                    <div class="col-md-1 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(m => m.Fecha_Nacimiento, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Fecha_Nacimiento, new { @class = "form-control", id = "birth", type = "date", @onblur = "brth(1)", @onchange = "brth(2)" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.Label("Sexo", new { @class = "control-label" })
                                <br />
                                @Html.DropDownListFor(model => model.Sexo, Sexo, "-- Seleccionar --", new { @class = "form-control", id = "Sexo" })
                            </div>
                        </div>
                    </div>
                </div>
                <table class="principal">

                    @* DATOS DE CONTACTO, CV Y LOCALIDAD SON EXCEPCIONES, para entrenador es CV *@
                    <tr>
                        <th><h4>INFORMACIÓN DE CONTACTO</h4></th>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "Email" })
                                </div>
                            </div>
                        </td>
                        <td id="info_localidad" class="info_localidad" hidden>
                            <div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.Label("Localidad", new { @class = "control-label" })
                                        <input id="localidad" type="text" class="nombre_localidad form-control" name="nombre_localidad" />
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    @* ASPECTOS GENERALES DE ASOCIACION-COMITÉ *@
                    <tr hidden id="title_aso" class="title_aso">
                        <th><h4>ASPECTOS GENERALES DE ASOCIACION/COMITE</h4></th>
                    </tr>
                    <tr hidden id="info_aso">
                        <td>
                            <div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.Label("Nombre de Asociacion o comite", new { @class = "control-label" })
                                        <input type="text" class="nombre_aso form-control" name="nombre_aso" id="nombre_aso" />
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    @* DATOS DE SELECCIONES *@
                    <tr hidden id="title_seleccion">
                        <th><h4>ASPECTOS GENERALES SELECCION</h4></th>
                    </tr>
                    <tr hidden id="info_seleccion" class="info_seleccion">
                        <td>
                            <div>
                                <div class="form-group">
                                    <div class="col-md-8">
                                        @Html.Label("Seleccionar Categoria", new { @class = "control-label" })
                                        <div class="col-md-8">
                                            <select name="SelectedCategory">
                                                @foreach (var category in (SelectList)ViewBag.Categorias)
                                                {
                                                    <option value="@category.Value">
                                                        @Html.Label(category.Text, new { @class = " control-label" })
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.Label("Seleccionar Deporte", new { @class = "control-label" })
                                        <div class="col-md-10">
                                            <select name="SelectedSport">
                                                @foreach (var sport in (SelectList)ViewBag.Deportes)
                                                {
                                                    <option value="@sport.Value">
                                                        @Html.Label(sport.Text, new { @class = "control-label" })
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>

                    @* DATOS DE ENTIDADES PUBLICAS *@
                    <tr hidden id="title_entidad">
                        <th><h4>ASPECTOS GENERALES ENTIDADES PUBLICAS</h4></th>
                    </tr>
                    <tr hidden id="info_entidad">
                        <td>
                            <div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.Label("Seleccione la Entidad", new { @class = "control-label" })
                                        <select name="SelectedEntity">
                                            @foreach (var entity in (SelectList)ViewBag.Entidades)
                                            {
                                                <option value="@entity.Value">
                                                    @Html.Label(entity.Text, new { @class = "control-label" })
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    @* DATOS DE Entrenadores *@
                    <tr hidden id="title_entrenador">
                        <th><h4>ASPECTOS GENERALES ENTRENADORES</h4></th>
                    </tr>
                    <tr hidden id="info_entrenador">
                        <td>
                            <div class="col-md-10">
                                <br />
                                <div class="form-group files">
                                    <label class="col-md-10">Subir CV</label>
                                    <input type="file" class="form-control" multiple="">
                                </div>
                            </div>
                        </td>
                    </tr>

                    @* DATOS PARA LAS ATLETA *@
                    <tr hidden id="title_atleta"><th><h4>ASPECTOS GENERALES DE ATLETAS</h4></th></tr>
                    <tr hidden id="info_atleta_tipo">
                        <td>
                            <div class="col-md-10">
                                @*Html.Label("Selección o Asociación", new { @class = "control-label" })*@
                                @*Voy a cambiar el ID de los RadioButtons, porque se llaman igual y ocupo diferenciarlos para limpiarlos. Se llamaban: Atleta_Tipo*@
                                Asociación @Html.RadioButton("Atleta_Tipo", "Asociación", true, new { id = "Aso", @onchange = "EscondeSelecciones()" })
                                Selección  @Html.RadioButton("Atleta_Tipo", "Selección", false, new { id = "Sel", @onchange = "EscondeAsociaciones()" })
                            </div>
                        </td>
                    </tr>
                    <tr id="info_atleta_selec" hidden>
                        <td>
                            <div>
                                <div class="form-group">
                                    <div class="col-md-10">

                                        @Html.Label("Seleccione la seleccion", new { @class = "control-label" })
                                        <select name="SelectedS">
                                            @foreach (var sel in (SelectList)ViewBag.Selecciones)
                                            {
                                                <option value="@sel.Value">
                                                    @Html.Label(sel.Text, new { @class = "control-label" })
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr hidden id="info_atleta_aso">
                        <td>
                            <div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.Label("Seleccione la Asociacion", new { @class = "control-label" })
                                        <select name="SelectedAsox">
                                            @foreach (var asox in (SelectList)ViewBag.Asociaciones)
                                            {
                                                <option value="@asox.Value">
                                                    @Html.Label(asox.Text, new { @class = "control-label" })
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    @*DATOS PARA F.ICODER*@
                    <tr hidden id="title_icoder"><th><h4>ASPECTOS GENERALES DE FUNCIONARIOS ICODER</h4></th></tr>


                    @*Selecciones y funcionarios*@
                    <tr hidden id="btnE">
                        <td>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg">Buscar entrenador   <span class="glyphicon glyphicon-search"></span></button>

                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr hidden id="inpE">
                        <td>
                            <div>
                                <div class="form-group">
                                    <div class="col-xs-15">
                                        <input type="text" class="einf form-control" name="nombre_aso" id="einf" readonly />
                                        <input type="hidden" class="hidef form-control" name="hidef" id="hidef" readonly />
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <hr />
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" class="btn btn-default" id="btn_sub_form" value="Crear" />
                        <input type="button" class="btn btn-warning" id="btn_limpiar_general" value="Limpiar Todo" onclick="$('#selectedRoles').prop('selectedIndex', 0);$('#CedNa').prop('checked', true);$('#CedEx').prop('checked', false);$('#Cedula').val('');$('#Nombre1').val('');$('#Nombre2').val('');$('#Apellido1').val('');$('#Apellido2').val('');$('#birth').val('');$('#Sexo').get(0).selectedIndex = 0;$('#Email').val('');$('#localidad').val('');$('#nombre_aso').val('');$('#SelectedCategory').prop('selectedIndex', 0);$('#SelectedSport').prop('selectedIndex', 0);$('#entrenador').val('');$('#sele_n').val('');$('#SelectedEntity').prop('selectedIndex', 0);$('#Aso').prop('checked', true);$('#Sel').prop('checked', false);$('#SelectedS').prop('selectedIndex', 0);$('#SelectedAsox').prop('selectedIndex', 0);$('#entrenadorF').val('');" />
                    </div>
                </div>
            </div>
        </div>

        @*Modal para las selecciones que muestra entrenadores*@
        <div id="me" class="modal fade bd-example-modal-lg"  role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Búsqueda de Entrenador</h4>
                    </div>
                    <div class="modal-body">
                        @*Tabla de entrenadores*@
                        <a class="btn btn-info" data-toggle="popover" title="¿Cómo funciona?" data-content="Seleccione el entrenador mediante un click a una casilla perteneciente a la columna acción, luego guarde los cambios">
                            <span class="glyphicon glyphicon-question-sign"></span> Ayuda
                        </a>
                        <hr />
                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Acción</th>
                                    <th>Nombre</th>
                                    <th>1° Apellido</th>
                                    <th>2° Apellido</th>
                                </tr>
                            </thead>
                        </table> 
                        <div class="modal-footer">
                            <br />
                            <button type="button" id="btnSave" data-dismiss="modal" class="btn btn-success">Guardar Cambios</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Modal para entrenadores de funcionarios*@

    }
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/create.js")
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
   
}