@model SOGIP_v2.Models.ApplicationUser

@{
    ViewBag.Title = "Registro Masivo";

    // Controller en español.
    ViewBag.Controller = "Usuarios";

    // // Si existe un Control se dispone el nombre del Control y ícono que se mostrará.
    ViewBag.Control = "UsersAdmin";
    ViewBag.ControlIcono = "glyphicon-user";

    // Si existe un Método se dispone el nombre del Método en que se encuentra y el ícono que se mostrará.
    ViewBag.Metodo = "IndexMasivo";
    ViewBag.MetodoIcono = "glyphicon-cloud";

    // Si se necesita una Acción como crear nuevo usuario, rutina. Se selecciona está opción y la referencia o ruta del método.
    // ViewBag.Referencia = "Rutina/Create";
    // ViewBag.Accion = "Crear Rutina";


    @Styles.Render("~/Contents/bootstrap-datepicker.css")
    @Styles.Render("~/Content/jquery.timepicker.css")
}

<style>
    .image-preview-input {
        position: relative;
        overflow: hidden;
        margin: 0px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .image-preview-input input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .image-preview-input-title {
        margin-left: 2px;
    }

    .glyphicon-remove {
        color: red;
    }

    #folder {
        color: #ffe698;
    }

    .glyphicon-upload {
        color: limegreen;
    }

    #upload {
        border-radius: 0px 4px 4px 0px;
    }

    .invent {
        color: limegreen;
        cursor: pointer;
    }

    #box {
        /*width: 500px;*/
        width: 45%;
        overflow: hidden;
        background: #f1f1f1;
        box-shadow: 0 0 20px black;
        border-radius: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        padding: 10px;
        text-align: center;
        display: none;
    }

        #box span {
            display: block;
            margin: 20px 0;
        }

        #box h1 {
            
            font-size: 22px;
        }

    .cerrar {
        font-size: 18px;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        cursor: pointer;
        background: red;
        display: inline-block;
        border-radius: 4px;
    }

    .load{
        width: 30%;
    }


</style>

<div class="container" style="min-height: 369px;">
    <div class="col-md-12" style="margin-bottom: 20px;">
        <div class="container col-md-6 col-md-offset-3">
            <div class="input-group image-preview">
                <input type="text" class="form-control image-preview-filename" disabled="disabled">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="hidden-xs">Eliminar</span>
                    </button>
                    <span id="upload" class="btn btn-default image-preview-input">
                        <span id="folder" class="glyphicon glyphicon-folder-open"></span>
                        <span class="image-preview-input-title hidden-xs"> Buscar </span>
                        <input type="file" id="excelfile" accept=".xlsx,.xls" />
                    </span>
                    <button id="submit" onclick="uploadImage()" class="btn btn-default" style="display: none;">
                        <span class="glyphicon glyphicon-upload"></span>
                        <span class="hidden-xs"> Subir </span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div id="UpdatePanel">

    </div>
    <div class="col-md-12" id="registrar">

    </div>

    <div id="box">
        <img class="load" src="~/Content/Imagenes/loader.gif" alt="Cargando" />
        <h1>Cargando..</h1>
        <button onclick="pop(false)" href="#" class="cerrar">Cerrar &times;</button>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Información de Usuario</h3>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="original" id="hidden">
                    <form id="myForm">
                        <div class="form-group">
                            <label>Cédula: </label>
                            <input type="text" class="form-control" placeholder="Cédula" id="ced" />
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Primer Nombre: </label>
                                <input type="text" class="form-control" placeholder="Primer Nombre" id="nom1" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Segundo Nombre: </label>
                                <input type="text" class="form-control" placeholder="Segundo Nombre" id="nom2" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Primer Apellido: </label>
                                <input type="text" class="form-control" placeholder="Primer Apellido" id="apel1" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Segundo Apellido: </label>
                                <input type="text" class="form-control" placeholder="Segundo Apellido" id="apel2" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>E-mail: </label>
                                <input type="text" class="form-control" placeholder="E-mail" id="email" />
                            </div>
                            <div class="form-group col-md-3">
                                <label>Nacimiento: </label>
                                <div class="input-group date" id="dtp">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    <input class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Género: </label>
                                <select class="form-control" id="sexo">
                                    <option>Masculino</option>
                                    <option>Femenino</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                    <a href="#" class="btn btn-success" onclick="actualizar()">Guardar</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/expedientes.js")
}