@{
    ViewBag.Title = "Registro Masivo";

    ViewBag.Referencia_Controlador_1 = "UsersAdmin";
    ViewBag.Nombre_Controlador_1 = "Usuarios";
    ViewBag.Icono_Controlador_1 = "glyphicon-user";

    ViewBag.Referencia_Metodo_1 = "IndexMasivo";
    ViewBag.Icono_Metodo_1 = "glyphicon-cloud";
    ViewBag.Nombre_Metodo_1 = "Masivo";

    @Styles.Render("~/Contents/bootstrap-datepicker.css")
    @Styles.Render("~/Content/jquery.timepicker.css")
    @Styles.Render("~/Content/Archivos.css")
}

<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/responsive.bootstrap4.min.css" rel="stylesheet" />

<div class="container" style="min-height: 369px;">
    <div class="row">
        <div class="form-group col-md-6">
            <label>Seleccione el usuario: </label>
            <input type="text" class="form-control" id="usuario" placeholder="Seleccione un usuario de la tabla." readonly />
        </div>
        <div class="form-group col-md-6">
            <br />
            <button id="botón" type="button" class="btn btn-warning btn-block">
                <text id="texto">Seleccione el usuario deseado </text>
                <span id="icono" class="glyphicon glyphicon-search"></span>
            </button>
        </div>
        <div class="col-md-12 table-responsive" id="Tabla_Usuarios">

        </div>
    </div>
    <div class="col-md-12" style="margin-bottom: 20px;">
        <div class="container col-md-6 col-md-offset-3">
            <div class="input-group image-preview">
                <input type="text" class="form-control image-preview-filename" disabled="disabled">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="hidden-xs">Eliminar</span>
                    </button>
                    <span id="upload" class="btn btn-default image-preview-input">
                        <span id="folder" class="glyphicon glyphicon-folder-open"></span>
                        <span class="image-preview-input-title hidden-xs"> Buscar </span>
                        <input type="file" id="excelfile" accept=".xlsx,.xls" />
                    </span>
                    <button id="submit" onclick="uploadImage()" class="btn btn-default" style="display: none;" disabled="disabled">
                        <span class="glyphicon glyphicon-upload"></span>
                        <span class="hidden-xs"> Subir </span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div id="UpdatePanel" class="col-md-12 table-responsive">

    </div>
    <div class="col-md-12" id="registrar">

    </div>

    <div id="box">
        <img class="load" src="~/Content/Imagenes/loader.gif" alt="Cargando" />
        <h1>Cargando..</h1>
        <button onclick="pop(false)" href="#" class="cerrar">Cerrar &times;</button>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Información de Usuario</h3>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="original" id="hidden">
                    <form id="signupForm1">
                        <div class="form-group">
                            <label>Cédula: </label>
                            <div class="afect">
                                <input type="text" class="form-control" placeholder="Cédula" id="ced" name="ced" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Primer Nombre: </label>
                                <div class="afect">
                                    <input type="text" class="form-control" placeholder="Primer Nombre" id="nom1" name="nom1" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Segundo Nombre: </label>
                                <div class="afect">
                                    <input type="text" class="form-control" placeholder="Segundo Nombre" id="nom2" name="nom2" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Primer Apellido: </label>
                                <div class="afect">
                                    <input type="text" class="form-control" placeholder="Primer Apellido" id="apel1" name="apel1" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Segundo Apellido: </label>
                                <div class="afect">
                                    <input type="text" class="form-control" placeholder="Segundo Apellido" id="apel2" name="apel2" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>E-mail: </label>
                                <div class="afect">
                                    <input type="text" class="form-control" placeholder="E-mail" id="email" name="email" />
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Nacimiento: </label>
                                <div class="afect">
                                    <div class="input-group date" id="dtp">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        <input class="form-control" type="text" id="nac" name="nac" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Género: </label>
                                <div class="afect">
                                    <select class="form-control" id="sexo" name="sexo">
                                        <option>Masculino</option>
                                        <option>Femenino</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                    <input type="submit" class="btn btn-success" value="Guardar" onclick="$('#signupForm1').submit();">@* data-dismiss="modal" onclick="actualizar()"*@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
    @*<script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/responsive.bootstrap4.min.js"></script>*@

    @Scripts.Render("~/bundles/custom-validator")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/Masivo.js")
}