@{
    @Styles.Render("~/Content/manual.css")
    @Styles.Render("~/Content/Detalle_Rutina.css")
}

    <div class="container">
        <div class="masivo" id="registro_tabla" name="registro_tabla">
            <br />
            <br />
            <br />

            <table cellpadding="2" cellspacing="2" border="1">
                @if (ViewBag.ListUsrs != null)
                {
                    <tr>
                        <th>Cédula</th>
                        <th>Primer Nombre</th>
                        <th>Segundo Nombre</th>
                        <th>1er Apellido</th>
                        <th>2do Apellido</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Sexo</th>
                        <th>Fecha Nacimiento</th>
                    </tr>
                    foreach (var a in ViewBag.ListUsrs)
                    {
                        <tr>
                            <td>@a.Cedula</td>
                            <td>@a.Nombre1</td>
                            <td>@a.Nombre2</td>
                            <td>@a.Apellido1</td>
                            <td>@a.Apellido2</td>
                            <td>@a.Email</td>
                            <td>@a.PhoneNumber</td>
                            
                            <td>@a.Sexo</td>

                            <td>@a.Fecha_Nacimiento</td>
                        </tr>
                    }
                }
            </table>
            @if (ViewBag.ListUsrs != null)
            {
                using (Html.BeginForm("Guardar", "UsersAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <br />
            <div>
                
                <input type="submit" class="btn btn-default" id="btn_sub_form" value="Guardar" />
            </div>
                }
            }
        </div>
    </div>