@model SOGIP_v2.Models.Cita

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Otro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Otro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioApellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioApellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioApellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioApellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHoraFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHoraFinal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CitaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
