@model IEnumerable<SOGIP_v2.Models.Cita>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Otro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioCedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioApellido1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioApellido2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaHoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaHoraFinal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Otro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioCedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioApellido1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioApellido2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaHoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaHoraFinal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CitaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CitaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CitaId })
        </td>
    </tr>
}

</table>
