@model SOGIP_v2.Models.RegisterViewModel
@{
    /**/

    ViewBag.Title = "Crear";


    List<SelectListItem> Genero = new List<SelectListItem>();
    Genero.Add(new SelectListItem
    {
        Text = "Femenino",
        Value = "1",
    });
    Genero.Add(new SelectListItem
    {
        Text = "Masculino",
        Value = "0",
    });
}

@Styles.Render("~/Content/manual.css")



<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Create", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <h4>Crear una nueva cuenta</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-error" })
    <div class="container">
        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label">
                    Seleccione el rol del usuario
                </label>
                <select name="SelectedRole">
                    @foreach (var item in (SelectList)ViewBag.RoleId)
                    {
                        @*<input type="" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />*@
                        <option>
                            @Html.Label(item.Value, new { @class = "control-label" })
                        </option>
                    }
                </select>
            </div>
        </div>
        <div class="card card-default">
            <div class="row">
                <h4>DATOS PERSONALES</h4>
                <div class="col-md-1 col-lg-3">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.Cedula, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Cedula, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(m => m.Nombre1, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Nombre1, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(m => m.Nombre2, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Nombre2, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(m => m.Apellido1, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Apellido1, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(m => m.Apellido2, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Apellido2, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
            @Html.LabelFor(m => m.Fecha_Nacimiento, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Fecha_Nacimiento, new { @class = "form-control" })
            </div>
        </div>*@
                <div class="row row-default">
                    <div class="col-md-1 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(m => m.Fecha_Nacimiento, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Fecha_Nacimiento, "{0:dd-MM-yyyy}", new { @class = "form-control", type = "date" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(m => m.Sexo, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.Sexo, Genero, "-- Seleccionar --")
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <h4>INFORMACION DE CONTACTO</h4>

                    <div class="col-md-1 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.Label("CV",new { @class = "control-label" })
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <h4>ASPECTOS GENERALES</h4>
                    <div class="col-md-1 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.Label("Seleccion", new { @class = "control-label" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 col-lg-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                @*@Html.DropDownList("Categorias")*@
                            </div>
                        </div>
                    </div>

                </div>
                @*<div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Crear" />
                    </div>
                </div>
            </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
