@model SOGIP_v2.Models.RegisterViewModel
@{
    ViewBag.Title = "Crear Masivo";
}

<h2>Creación de usuarios de forma masiva.</h2>

@using (Html.BeginForm("CreateMasive", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Importar usuarios de un documento Excel.</h4>
    <hr />

    @*<div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>*@

        <div class="container">
            <div class="masivo" id="registro_tabla" name="registro_tabla">
                @Html.Raw(ViewBag.Error)
                <span>Seleccione archivo Excel</span>
                <input type="file" name="excelfile" />
                @*<div>
                    <label for="files" class="btn">Select Image</label>
                    <input id="files" style="visibility:hidden;" type="file">
                </div>*@
                <br />
                <input type="submit" value="Importar" />
            </div>

            <div class="masivo" id="registro_tabla" name="registro_tabla">
                <table cellpadding="2" cellspacing="2" border="1">
                    @if (ViewBag.ListAths != null)
                    {
                        <tr>
                            <th>Nombre</th>
                            <th>1erApellido</th>
                            <th>2doApellido</th>
                            <th>Fecha Nacimiento</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                        </tr>
                        foreach (var a in ViewBag.ListAths)
                        {
                            <tr>
                                <td>@a.nombre</td>
                                <td>@a.apellido1</td>
                                <td>@a.apellido2</td>
                                <td>@a.fecha_nacimiento</td>
                                <td>@a.correo</td>
                                <td>@a.telefono</td>
                            </tr>
                        }
                    }
                </table>
                @*if (ViewBag.ListAths != null)
                {
                    using (Html.BeginForm("Guardar", "IngresoMasivo", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div>
                            <input type="submit" value="Guardar" />
                        </div>
                    }
                }*@
            </div>
        </div>


    /*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Crear" />
        </div>
    </div>*/

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
