@model IEnumerable<SOGIP_v2.Models.ApplicationUser>

@Html.Partial("/Views/Home/header.cshtml")
@Html.Partial("_LoginPartial")

@{
    ViewBag.Title = "Inicio";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre1)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre1)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
