@model SOGIP_v2.Models.EstadosPagos
@{
    ViewBag.Title = "Pagos";

    ViewBag.Referencia_Controlador_1 = "EstadosPagos";
    ViewBag.Icono_Controlador_1 = "glyphicon-euro";
    ViewBag.Nombre_Controlador_1 = "Pagos";

    ViewBag.Accion = "<a class='btn btn-success pull-right' style='padding: 2px 6px; margin: 2px;' data-toggle='modal' onclick='CargarModal();'><text class='hidden-xs'>Generar nuevo pago </text><span style='color: white;' class='glyphicon glyphicon-plus-sign'></span></a>";

    @Styles.Render("~/Contents/bootstrap-datepicker.css");
    @Styles.Render("~/Content/jquery.timepicker.css");
    var d = DateTime.Today.ToString("yyyy/MM/dd");
}

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/select.bootstrap4.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/responsive.bootstrap4.min.css" rel="stylesheet" />

<link href="~/Content/DataTables/css/buttons.bootstrap.min.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="well col-md-12">
        <center>
            <h2>Pagos Mensuales</h2>
        </center>
        <div class="col-md-offset-2 col-md-7">

            <div class="table-responsive" id="PagosMensualesDiv">

            </div>
        </div>
        <div class="col-md-12">
            <center><h2>Registros de Pagos</h2></center>
            <div class="table-responsive" id="PagosUsuariosDiv">

            </div>
        </div>
    </div>
    <div class="modal fade" id="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Registro de Pagos</h3>
                </div>
                <form id="signupForm1">
                    <div class="modal-body">

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Fecha de pago: <strong>(año/mes/día)</strong></label>
                                <div class="afect">
                                    <div class="input-group date" id="dtp">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        <input class="form-control" type="text" id="FechaPago" name="FechaPago" value="@d" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Tipo de pago: </label>
                                <div class="afect" id="DivTipoPago">

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Cantidad de usuarios: </label>
                                <div class="afect">
                                    <input type="text" class="form-control" placeholder="Cantidad de usuarios" id="Cantidad" name="Cantidad" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Monto por pagar: </label>
                                <div class="afect">
                                    <input type="text" class="form-control" placeholder="Monto a pagar" id="Monto" name="Monto" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Concepto de factura: </label>
                                <div class="afect">
                                    <input type="text" class="form-control" placeholder="Concepto de factura" id="Concepto" name="Concepto" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Estado del pago: </label>
                                <div class="afect" id="EstadoPago">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Usuario seleccionado: </label>
                                <div class="afect">
                                    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Seleccione un usuario de la tabla." readonly />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Cambiar usuario</label>
                                <button id="botón" type="button" class="btn btn-warning btn-block" onclick="manipularDT();">
                                    <text id="texto">Seleccione el usuario deseado </text>
                                    <span id="icono" class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row table-responsive" id="Users">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                        <input type="submit" class="btn btn-success" value="Guardar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/buttons.flash.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    <script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.print.min.js"></script>

    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.select.min.js"></script>
    <script src="~/Scripts/DataTables/responsive.bootstrap4.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.bootstrap.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")

<script>
    var mes = "", year = "";
    $(document).ready(function () {

        $('#signupForm1')[0].reset();

        $(function () {
            $("#dtp").datepicker({
                format: 'yyyy/mm/dd',
                startDate: '-365d',
                endDate: '+365d',
                daysOfWeekDisabled: false
            });
        });

        /*var d = new Date();
        var mm = d.getMonth() + 1 < 10 ? `0${d.getMonth() + 1}` : d.getMonth() + 1;
        $('#FechaPago').val(`${d.getFullYear()}/${mm}/${d.getDate()}`);*/
        $('#usuario').val('')

        // Cargar para el modal
        cargarTipoPagos();
        cargarEstados();
        //cargarUsuarios(`${d.getFullYear()}/${mm}/${d.getDate()}`);
        cargarUsuarios($('#FechaPago').val());

        $.validator.addMethod("notzero", function (value, element) {
            return value !== '0';
        });

        $.validator.setDefaults({
            submitHandler: function () {
                alert("Cambios guardados.");
                CrearPago();
            }
        });

        $("#signupForm1").validate({
            rules: {
                FechaPago: {
                    required: true,
                    minlength: 10
                    //remote: {
                    //    url: "/EstadosPagos/PagoRepetido",
                    //    type: "GET",
                    //    data: {
                    //        fecha: function () { return $('#FechaPago').val(); },
                    //        usr: function () { return $('#usuario').val().split('-')[0]; }
                    //    } 
                    //}
                },
                TipoPago: {
                    required: true
                },
                Cantidad: {
                    required: true,
                    number: true,
                    notzero: true
                },
                Monto: {
                    required: true,
                    number: true,
                    notzero: true
                },
                Concepto: {
                    required: true,
                    minlength: 2
                },
                Estado: {
                    required: true
                },
                usuario: {
                    required: true,
                //    remote: {
                //        url: "/EstadosPagos/PagoRepetido",
                //        type: "GET",
                //        data: {
                //            fecha: function () { return $('#FechaPago').val(); },
                //            usr: function () { return $('#usuario').val().split('-')[0]; }
                //        }
                //    }
                }
            },
            messages: {
                FechaPago: {
                    required: "La fecha de pago es un campo obligatorio.",
                    minlength: "El formato requerido para la fecha de pago es año/mes/día."
                    //remote: "Ya existe un pago realizado en esta fecha para este usuario."
                },
                TipoPago: {
                    required: "El tipo de pago es un campo obligatorio."
                },
                Cantidad: {
                    required: "La cantidad es un campo requerido.",
                    number: "Este campo solo puede ser numérico.",
                    notzero: "Este campo no puede ser igual a cero (0)."
                },
                Monto: {
                    required: "El monto es un campo requerido.",
                    number: "Este campo solo puede ser numérico.",
                    notzero: "Este campo no puede ser igual a cero (0)."
                },
                Concepto: {
                    required: "El campo de concepto es requerido.",
                    minlength: "La longitud mínima del concepto debe ser de 2 carácteres."
                },
                Estado: {
                    required: "El campo de estado del pago es obligatorio."
                },
                usuario: {
                    required: "El campo de usuario es obligatorio."
                    //remote: "Ya existe un pago realizado en esta fecha para este usuario."
                }
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                error.addClass("help-block");
                element.parents(".afect").addClass("has-feedback");

                if (element.prop("id") === "FechaPago") {
                    error.insertAfter(element.parent("div"));
                } else {
                    error.insertAfter(element);
                }
                if (!element.next("span")[0]) {
                    $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>").insertAfter(element);
                }
            },
            success: function (label, element) {
                if (!$(element).next("span")[0]) {
                    $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($(element));
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).parents(".afect").addClass("has-error").removeClass("has-success");
                $(element).next("span").addClass("glyphicon-remove").removeClass("glyphicon-ok");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents(".afect").addClass("has-success").removeClass("has-error");
                $(element).next("span").addClass("glyphicon-ok").removeClass("glyphicon-remove");
            }
        });

        var table = $('<table/>', {
            id: 'PagosMensuales',
            class: 'table table-striped table-bordered',
            width: '100%'
        }).append('<thead><tr><th>Fecha (Año/Mes/Día)</th><th>Pagos registrados</th></tr></thead>');

        $('#PagosMensualesDiv').append(table);

        table = $('#PagosMensuales').DataTable({
            "language": {
                "lengthMenu": "Mostrando _MENU_ resultados.",
                "zeroRecords": "No se han encontrado registros.",
                "info": "Mostrando página _PAGE_ de _PAGES_.",
                "infoEmpty": "No hay datos para mostrar",
                "infoFiltered": "(filtrado de _MAX_ datos obtenidos).",
                "search": "Filtrar:",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "select": {
                    "rows": {
                        _: "%d registros seleccionados.",
                        0: "Seleccione algún registro.",
                        1: "1 seleccionado."
                    }
                }
            },
            "ajax": {
                "url": "/EstadosPagos/GetPagos",
                "type": "GET",
                "dataSrc": ""
            },
            columns: [
                {
                    data: function (data, type, dataToSet) {
                        var aux = data.Month >= 10 ? data.Month : "0" + data.Month;
                        return `${data.Year}/${aux}/01`;
                    }
                },
                { data: "Count" }],
            select: true
        });

        $('#PagosMensuales tbody').on('click', 'tr', function () {
            var data = $('#PagosMensuales').DataTable().row(this).data();
            mes = data.Month;
            year = data.Year;
            cargarPagosUsuarios();
        });

        $('#FechaPago').on('change', function () {
            // console.log($(this).val());
            if ($(this).val() != '') {
                cargarUsuarios($(this).val());
                $('#usuario').val('');
            } else {
                alert('Favor llenar la fecha');
            }
        });

    });

    function cargarPagosUsuarios() {
            $('#example').DataTable().destroy();
            $('#example').remove();

            var tablex = $('<table/>', {
                id: 'example',
                class: 'table table-striped',
                width: '100%'
            }).append('<thead><tr><th>Fecha</th><th>Cantidad</th><th>Monto</th><th>Concepto</th><th>Estado</th><th>Tipo</th><th>Usuario</th><th>Rol</th></tr></thead>');

            $('#PagosUsuariosDiv').append(tablex);

            tablex = $('#example').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ resultados.",
                    "zeroRecords": "No se han encontrado registros.",
                    "info": "Mostrando página _PAGE_ de _PAGES_.",
                    "infoEmpty": "No hay datos para mostrar",
                    "infoFiltered": "(filtrado de _MAX_ datos obtenidos).",
                    "search": "Filtrar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "select": {
                        "rows": {
                            _: "%d registros seleccionados.",
                            0: "Seleccione algún registro.",
                            1: "1 seleccionado."
                        }
                    }
                },
                "ajax": {
                    "url": "/EstadosPagos/PagoUsuarios",
                    "type": "GET",
                    "dataSrc": "",
                    data: { mes, year }
                },
                columns: [
                    { data: "Fecha" },
                    { data: "Cantidad" },
                    { data: "Monto" },
                    { data: "Concepto" },
                    { data: "Estado" },
                    { data: "TipoPago" },
                    { data: "Usuario" },
                    { data: "Rol" }
                ],
                select: true,
                "createdRow": function (row, data, dataIndex) {
                    data.Concepto === 'NULO' ? $(row).css('background-color', '#d63031') : $(row).css('background-color', '#4cd137');
                    data.Concepto === 'NULO' ? $(row).css('color', 'white') : $(row).css('color', 'white');
                },
                dom: 'Bfrtip',
                buttons: ['excel', 'pdf', 'print'],
            });

    }

    function CargarModal() {

        $('#modal').modal('show');
    }

    function cargarUsuarios(dt) {
        $('#datos').DataTable().destroy();
        $('#datos').remove();

        $('<table />', {
            id: 'datos',
            class: 'table table-striped table-bordered',
            width: '100%'
        }).append("<thead><th>Cédula</th><th>Nombre</th><th>E-mail</th><th>Rol</th><th>Entidad</th></tr></thead>").appendTo('#Users');

        $('#datos').DataTable({
            "language": {
                "lengthMenu": "Mostrando _MENU_ resultados por página.",
                "zeroRecords": "No se han encontrado registros.",
                "info": "Mostrando página _PAGE_ de _PAGES_.",
                "infoEmpty": "No hay datos para mostrar",
                "infoFiltered": "(filtrado de _MAX_ datos obtenidos).",
                "search": "Filtrar:",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "ajax": {
                "url": "/EstadosPagos/GetUsuarios",
                "type": "GET",
                "data": { fecha: dt },
                "dataSrc": ""
            },
            columns: [
                { data: "Cedula" },
                { data: "Nombre" },
                { data: "Email" },
                { data: "Rol" },
                { data: "Entidad" }
            ],
            select: true
        });

        $('#datos tbody').on('click', 'tr', function () {
            var data = $('#datos').DataTable().row(this).data();
            var usr = `${data.Cedula}-${data.Nombre}`;
            $('#usuario').val() === usr ? $('#usuario').val('') : $('#usuario').val(usr);
            manipularDT();
        });
        
    }

    function manipularDT() {
        $('#Users').slideToggle(400, function () {
            if ($('#Users').is(':visible')) {
                $('#icono').removeClass('glyphicon-search').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                $('#texto').html('Cerrar lista ');
            }
            else {
                $('#icono').removeClass('glyphicon-search').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                $('#texto').html('Desplegar lista ');
            }
        });
    }

    function cargarTipoPagos() {
        $.ajax({
            url: "/Opciones/GetTipoPagos",
            type: "GET",
            success: function (list) {
                var slc = '<select class="form-control" id="TipoPago" name="TipoPago" required><option value="">-- Seleccionar --</option>';
                $.each(list, function (i) {
                    slc = slc + '<option value="' + list[i].Id + '">' + list[i].Descripcion + '</option>';
                });
                slc = slc +  '</select>';
                $('#DivTipoPago').append(slc);
            },
            error: function () {
                alert('Error desconocido, contacte a soporte.');
            }
        });
    }

    function cargarEstados() {
        $.ajax({
            url: "/Opciones/GetEstados",
            type: "GET",
            success: function (list) {
                var slc = '<select class="form-control" id="Estado" name="Estado" required><option value="">-- Seleccionar --</option>';
                $.each(list, function (i) {
                    slc = slc + '<option value="' + list[i].EstadoId + '">' + list[i].Descripcion + '</option>';
                });
                slc = slc + '</select>';
                $('#EstadoPago').append(slc);
            },
            error: function () {
                alert('Error desconocido, contacte a soporte.');
            }
        });
    }
    
    function CrearPago() {

        $("#signupForm1 :input[type=text]").val(function () {
            return this.value.toUpperCase();
        });

        var form = $('#signupForm1').serialize();
        form = form + "&usr=" + $('#usuario').val().split('-')[0];

        $.ajax({
            url: "/EstadosPagos/AgregarPago",
            type: "POST",
            data: form,
            success: function () {
                $('#signupForm1')[0].reset();
                $('#PagosMensuales').DataTable().ajax.reload(null, false);
                mes !== "" && year !== "" ? $('#example').DataTable().ajax.reload(null, false) : console.log('No ha tocado nada.');
                $('#modal').modal('hide');
                cargarUsuarios($('#FechaPago').val());
            },
            error: function () {
                alert('Error desconocido, favor indicarlo a soporte.');
            }
        });
    }

</script>
}