@model SOGIP_v2.Models.Horario

@{
    ViewBag.Title = "Administración de Horario";
    @Styles.Render("~/Content/administracionHorario.css")
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


}

<h2></h2>

@using (Html.BeginForm())
{
    <body>
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Administración de Horarios para Citas</h4> <hr />

            @Html.ValidationSummary(true)
            @Html.ValidationSummary(false, "Los siguientes campos obligatorios están vacios: ")
            <div class="form-group">
                @Html.Label("Fecha de Inicio", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @**@
                    @*@Html.ValidationMessageFor(model => model.FechaHoraInicio, "", new { @class = "text-danger" })*@
                    <div class="input-group registration-date-time col-md-5">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                        @Html.EditorFor(model => model.FechaHoraInicio, new { htmlAttributes = new { @class = "form-control", Type = "date", name = "inicio_fecha", id = "inicio_fecha" } })
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
                        <input class="form-control" name="incio_horaT" id="incio_horaT" type="time" required>

                    </div>
                    
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Fecha Finalización", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @**@
                    @*@Html.ValidationMessageFor(model => model.FechaHoraFinal, "", new { @class = "text-danger" })*@
                    <div class="input-group registration-date-time col-md-5">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                        @Html.EditorFor(model => model.FechaHoraFinal, new { htmlAttributes = new { @class = "form-control", Type = "date", name= "final_fecha", id= "final_fecha" } })
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
                        <input class="form-control" name="final_hora" id="final_hora" type="time" required>

                    </div>
                    
                </div>
            </div>
            <hr /> <br /> <br />
            <div class="col-md-10">
                <div class="form-group">
                    <div>
                        <input type="submit" value="Crear" class="btn btn-default" />
                        <input type="button" id="btnClear" name="btnClear " value="Limpiar Horario" class="btn btn-warning" />
                    </div>
                </div>
            </div>
        </div>
    </body>

}

<div>
    @Html.ActionLink("Ver lista de horarios", "Index")
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/administracionHorario.js")
}