@model IEnumerable<SOGIP_v2.Models.Horario>

@{
    ViewBag.Title = "Lista de Horarios";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar nuevo horario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaHoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaHoraFinal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraFinal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HorarioId }) |
                @Html.ActionLink("Details", "Details", new { id = item.HorarioId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HorarioId })
            </td>
        </tr>
    }

</table>
